.top-left,
.bottom-left,
.top-right,
.bottom-right,
.green,
.brown,
.blue,
.dark-blue {
	position: absolute;
}

.top-left span,
.bottom-left span,
.top-right span,
.bottom-right span {
	font-size: 3.75em;
	color: #4e5a63;
	font-weight: 200;
	display: block;
	line-height: 67px;
}

.top-left p,
.bottom-left p,
.top-right p,
.bottom-right p {
	font-size: .9375em;
	letter-spacing: -.02em;
	line-height: 14px;
}

.top-left {
	width: 300px;
	height: 100px;
	top: 44px;
	left: 10px;
	background: url(../img/diagramma/bg_top_left.png);
	background-repeat: no-repeat;
	background-position: 167px 34px;
	opacity: 1;

	-webkit-animation-name: top_left_animation;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: liner;

	-moz-animation-name: top_left_animation;
	-moz-animation-duration: 4s;
	-moz-animation-timing-function: liner;

	-o-animation-name: top_left_animation;
	-o-animation-duration: 4s;
	-0-animation-timing-function: liner;

	animation-name: top_left_animation;
	animation-duration: 4s;
	animation-timing-function: liner;
}

.top-left p {
	width: 200px;
}

.bottom-left {
	width: 500px;
	height: 160px;
	bottom: 0;
	left: 10px;
	background: url(../img/diagramma/bg_bottom_left.png);
	background-repeat: no-repeat;
	background-position: 80px 32px;
	opacity: 1;

	-webkit-animation-name: bottom_left_animation;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: liner;

	-moz-animation-name: bottom_left_animation;
	-moz-animation-duration: 4s;
	-moz-animation-timing-function: liner;

	-o-animation-name: bottom_left_animation;
	-o-animation-duration: 4s;
	-0-animation-timing-function: liner;

	animation-name: bottom_left_animation;
	animation-duration: 4s;
	animation-timing-function: liner;
}

.bottom-left p {
	width: 200px;
}

.top-right {
	width: 332px;
	height: 100px;
	text-align: right;
	top: 45px;
	right: 9px;
	background: url(../img/diagramma/bg_top_right.png);
	background-repeat: no-repeat;
	background-position: 0 32px;
	opacity: 1;

	-webkit-animation-name: top_right_animation;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: liner;

	-moz-animation-name: top_right_animation;
	-moz-animation-duration: 4s;
	-moz-animation-timing-function: liner;

	-o-animation-name: top_right_animation;
	-o-animation-duration: 4s;
	-0-animation-timing-function: liner;

	animation-name: top_right_animation;
	animation-duration: 4s;
	animation-timing-function: liner;
}

.top-right p {
	padding-left: 120px
}

.bottom-right {
	width: 300px;
	height: 100px;
	text-align: right;
	bottom: 62px;
	right: 9px;
	background: url(../img/diagramma/bg_bottom_right.png);
	background-repeat: no-repeat;
	background-position: 30px 32px;
	opacity: 1;

	-webkit-animation-name: bottom_right_animation;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: liner;

	-moz-animation-name: bottom_right_animation;
	-moz-animation-duration: 4s;
	-moz-animation-timing-function: liner;

	-o-animation-name: bottom_right_animation;
	-o-animation-duration: 4s;
	-0-animation-timing-function: liner;

	animation-name: bottom_right_animation;
	animation-duration: 4s;
	animation-timing-function: liner;

}

.bottom-right p {
	padding-left: 120px;
}

.green {
	width: 159px;
	height: 80px;
	background: url(../img/diagramma/green.png);
	left: 399px;
	bottom: 35px;
	z-index: 4;
}

.brown {
	width: 176px;
	height: 142px;
	background: url(../img/diagramma/brown.png);
	right: 290px;
	bottom: 39px;
	z-index: 3;

	-webkit-animation-name: item_brown;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: liner;

	-moz-animation-name: item_brown;
	-moz-animation-duration: 4s;
	-moz-animation-timing-function: liner;

	-o-animation-name: item_brown;
	-o-animation-duration: 4s;
	-0-animation-timing-function: liner;

	animation-name: item_brown;
	animation-duration: 4s;
	animation-timing-function: liner;

}

.blue {
	width: 189px;
	height: 118px;
	background: url(../img/diagramma/blue.png);
	top: 74px;
	right: 290px;
	z-index: 1;


}

.dark-blue {
	width: 242px;
	height: 228px;
	background: url(../img/diagramma/dark_blue.png);
	top: 73px;
	left: 289px;
	-webkit-animation-name: item_dark_blue ;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: liner;

	-moz-animation-name: item_dark_blue ;
	-moz-animation-duration: 4s;
	-moz-animation-timing-function: liner;

	-o-animation-name: item_dark_blue ;
	-o-animation-duration: 4s;
	-0-animation-timing-function: liner;

	animation-name: item_dark_blue ;
	animation-duration: 4s;

}

.diagramma {
	background-position: 0 -50px;
	-webkit-animation-name: item_diagramma;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: liner;

	-moz-animation-name: item_diagramma ;
	-moz-animation-duration: 4s;
	-moz-animation-timing-function: liner;

	-o-animation-name: item_diagramma ;
	-o-animation-duration: 4s;
	-0-animation-timing-function: liner;

	animation-name: item_diagramma;
	animation-duration: 4s;
}

/*== animation item_brown ==
================================================================================================*/
@-webkit-keyframes item_brown {
	0%{
		bottom: 79px;
	}
	100%{
		bottom: 40px;
	}
}

@-moz-keyframes item_brown {
	0%{
		bottom: 79px;
	}
	100%{
		bottom: 40px;
	}
}

@-o-keyframes item_brown {
	0%{
		bottom: 79px;
	}
	100%{
		bottom: 40px;
	}
}

@keyframes item_brown {
	0%{
		bottom: 79px;
	}
	100%{
		bottom: 40px;
	}
}

/*== animation item_brown ==
================================================================================================*/
@-webkit-keyframes item_dark_blue {
	0%{
		top: 33px;
	}
	100%{
		top: 73px;
	}
}

@-moz-keyframes item_dark_blue {
	0%{
		top: 33px;
	}
	100%{
		top: 73px;
	}
}

@-o-keyframes item_dark_blue {
	0%{
		top: 33px;
	}
	100%{
		top: 73px;
	}
}

@keyframes item_dark_blue {
	0%{
		top: 33px;
	}
	100%{
		top: 73px;
	}
}

/*== animation bg_item_diagramma ==
================================================================================================*/
@-webkit-keyframes item_diagramma {
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 -50px;
	}
}

@-moz-keyframes item_diagramma {
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 -50px;
	}
}

@-o-keyframes item_diagramma {
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 -50px;
	}
}

@keyframes item_diagramma {
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 0 -50px;
	}
}

/*== animation top_left_animation ==
================================================================================================*/
@-webkit-keyframes top_left_animation {
	0%{
		background-position: 147px 34px;
		opacity: 0;
	}
	100%{
		background-position: 167px 34px;
		opacity: 1;
	}
}

@-moz-keyframes top_left_animation {
	0%{
		background-position: 147px 34px;
		opacity: 0;
	}
	100%{
		background-position: 167px 34px;
		opacity: 1;
	}
}

@-o-keyframes top_left_animation {
	0%{
		background-position: 147px 34px;
		opacity: 0;
	}
	100%{
		background-position: 167px 34px;
		opacity: 1;
	}
}

@keyframes top_left_animation {
	0%{
		background-position: 147px 34px;
		opacity: 0;
	}
	100%{
		background-position: 167px 34px;
		opacity: 1;
	}
}


/*== animation bottom_left_animation ==
================================================================================================*/
@-webkit-keyframes bottom_left_animation {
	0%{
		background-position: 60px 32px;
		opacity: 0;
	}
	100%{
		background-position: 80px 32px;
		opacity: 1;
	}
}

@-moz-keyframes bottom_left_animation {
	0%{
		background-position: 60px 32px;
		opacity: 0;
	}
	100%{
		background-position: 80px 32px;
		opacity: 1;
	}
}

@-o-keyframes bottom_left_animation {
	0%{
		background-position: 60px 32px;
		opacity: 0;
	}
	100%{
		background-position: 80px 32px;
		opacity: 1;
	}
}

@keyframes bottom_left_animation {
	0%{
		background-position: 60px 32px;
		opacity: 0;
	}
	100%{
		background-position: 80px 32px;
		opacity: 1;
	}
}

/*== animation top_right_animation ==
================================================================================================*/
@-webkit-keyframes top_right_animation {
	0%{
		background-position: 20px 32px;
		opacity: 0;
	}
	100%{
		background-position: 0 32px;
		opacity: 1;
	}
}

@-moz-keyframes top_right_animation {
	0%{
		background-position: 20px 32px;
		opacity: 0;
	}
	100%{
		background-position: 0 32px;
		opacity: 1;
	}
}

@-o-keyframes top_right_animation {
	0%{
		background-position: 20px 32px;
		opacity: 0;
	}
	100%{
		background-position: 0 32px;
		opacity: 1;
	}
}

@keyframes top_right_animation {
	0%{
		background-position: 20px 32px;
		opacity: 0;
	}
	100%{
		background-position: 0 32px;
		opacity: 1;
	}
}


/*== animation bottom_right_animation ==
================================================================================================*/
@-webkit-keyframes bottom_right_animation {
	0%{
		background-position: 50px 32px;
		opacity: 0;
	}
	100%{
		background-position: 30px 32px;
		opacity: 1;
	}
}

@-moz-keyframes bottom_right_animation {
	0%{
		background-position: 50px 32px;
		opacity: 0;
	}
	100%{
		background-position: 30px 32px;
		opacity: 1;
	}
}

@-o-keyframes bottom_right_animation {
	0%{
		background-position: 50px 32px;
		opacity: 0;
	}
	100%{
		background-position: 30px 32px;
		opacity: 1;
	}
}

@keyframes bottom_right_animation {
	0%{
		background-position: 50px 32px;
		opacity: 0;
	}
	100%{
		background-position: 0 32px;
		opacity: 1;
	}
}





