@import url(reset.css);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/*== style tags ==
================================================================================================*/

body {
	font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
	min-width: 100%;
}

p {
	color: #4e5a63;
}






/*== main style ==
================================================================================================*/
.center-block {
	margin: 0 auto;
	max-width: 980px;
	min-width: 1000px;
	height: 100%;
	position: relative;
}

.center-block:after {
	width: 0;
	height: 0;
	display: block;
	clear: both;
	content: '.';
	visibility: hidden;
}

.blue-line {
	width: 100%;
	height: 8px;
	background: #2862a9;
}

.block-logo {
	width: 100%;
	height: 146px;
	background: #82acde;
	background: -moz-linear-gradient(top,  hsla(213,58%,69%,1) 0%, hsla(213,58%,64%,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(213,58%,69%,1)), color-stop(100%,hsla(213,58%,64%,1)));
	background: -webkit-linear-gradient(top,  hsla(213,58%,69%,1) 0%,hsla(213,58%,64%,1) 100%);
	background: -o-linear-gradient(top,  hsla(213,58%,69%,1) 0%,hsla(213,58%,64%,1) 100%);
	background: -ms-linear-gradient(top,  hsla(213,58%,69%,1) 0%,hsla(213,58%,64%,1) 100%);
	background: linear-gradient(to bottom,  hsla(213,58%,69%,1) 0%,hsla(213,58%,64%,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82acde', endColorstr='#6d9dd8',GradientType=0 );
	box-shadow: 0 1px 2px rgba(155, 189, 228, .7) inset;
}

.logo {
	width: 399px;
	height: 68px;
	position: absolute;
	top: 40px;
	left: 9px;
	color: #fff;

}

#logo {
	width: 68px;
	height: 68px;
	background: url(../img/logo.png);
	display: block;
	float: left;
	margin-right: 15px;
	padding: 0;
}

.logo h1 {
	font-size: 1.375em;

}

.logo p {
	font-size: .9375em;
	color: #ccdbee;
	padding-top: 1px;
	letter-spacing: -.01em;
	line-height: 16px;
}

.logo a {
	font-size: .9375em;
	color: #ccdbee;
	text-decoration: none;
	letter-spacing: -.01em;
	padding-left: 13px;
	background: url(../img/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -9px 2px;
}

.log-in {
	width: 355px;
	height: 75px;
	position: absolute;
	top: 38px;
	right: 7px;

}

.log-in input{
	width: 124px;
	height: 38px;
	border: 0;
	border-radius: 4px;
	float: left;
	font-size: .9375em;
}

.log-in input[type=text] {
	margin-right: 5px;
	border: 2px solid #719ccf;
	color: #a2a4a7;
	padding: 0 10px;
	letter-spacing: -.02em;
}

.log-in input[type=button]{
	width: 94px;
	height: 38px;
	margin: 0 0 0 3px;
	color: #fff;
	border: 2px solid #91b6e1;
	background: #2e71c3;
	cursor: pointer;
	font-weight: bold;
}

.log-in a {
	font-size: .9375em;
	color: #ccdbee;
	float: right;
	padding: 0 0 0 23px;
	margin-top: 17px;
	width: 160px;
	background: url(../img/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -7px -22px;
}



header nav {
	width: 100%;
	height: 54px;
	background: #2e71c3;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3) inset;
}

.navigation {
	width: 100%;
	height: 100%;
	padding: 0 0 0 10px;
}

.navigation li {
	width: 19.80%;
	height: 100%;
	float: left;
	padding: 14px 0;
}

.navigation li:nth-child(5) a {
	border-right: 2px solid #407ec8; 
}

.navigation a {
	text-align: center;
	font-size: .9375em;
	line-height: 25px;
	display: block;
	border-left: 2px solid #407ec8;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}


.diagramma {
	width: 100%;
	height: 349px;
	background: url(../img/bg_diagramma.jpg);
}

.block-service {
	width: 100%;
	height: 100px;
	background: #e6f0fb;
	background: -moz-linear-gradient(top,  hsla(211,73%,95%,1) 0%, hsla(210,71%,93%,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(211,73%,95%,1)), color-stop(100%,hsla(210,71%,93%,1)));
	background: -webkit-linear-gradient(top,  hsla(211,73%,95%,1) 0%,hsla(210,71%,93%,1) 100%);
	background: -o-linear-gradient(top,  hsla(211,73%,95%,1) 0%,hsla(210,71%,93%,1) 100%);
	background: -ms-linear-gradient(top,  hsla(211,73%,95%,1) 0%,hsla(210,71%,93%,1) 100%);
	background: linear-gradient(to bottom,  hsla(211,73%,95%,1) 0%,hsla(210,71%,93%,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0fb', endColorstr='#e2eefa',GradientType=0 );
}

.block-service ul {
	height: 100px;
}

.block-service li {
	width: 33.3%;
	float: left;
	margin-top: 15px;
}


.block-service a {
	width: 270px;
	height: 60px;
	display: block;
	margin: 10px 0 0 30px;
	color: #2e71c3;
}

.block-service li:nth-child(1) a {
	margin: 8px 0 0 10px;
}

.block-service li:nth-child(2) a {
	margin: 8px 0 0 35px;
}

.block-service li:nth-child(3) a {
	margin: 8px 0 0 78px;
}

.block-service a span {
	width: 55px;
	height: 55px;
	display: block;
	background: rgb(112,158,214);
	background:  url(../img/icon_sprite.png) no-repeat 9px -53px, -moz-linear-gradient(top,  rgba(112,158,214, 1) 0%, rgba(87,141,206, 1) 100%);
	background: url(../img/icon_sprite.png) no-repeat 9px -53px, -webkit-linear-gradient(top,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	background: url(../img/icon_sprite.png) no-repeat 9px -53px, -webkit-linear-gradient(top,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	background: url(../img/icon_sprite.png) no-repeat 9px -53px, -o-linear-gradient(top,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	background: url(../img/icon_sprite.png) no-repeat 9px -53px, -ms-linear-gradient(top,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	background: url(../img/icon_sprite.png) no-repeat 9px -53px, linear-gradient(to bottom,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#709ed6', endColorstr='#578dce',GradientType=0 );
	border-radius: 50%;
	border: 3px solid #fff;
	float: left;
	margin-right: 16px;
}

.block-service li:nth-child(2) span {
	background-position:  9px -97px;
}

.block-service li:nth-child(2) {
	border-left: 2px solid #d4e4f4;
	border-right: 2px solid #d4e4f4;
}

.block-service li:nth-child(3) span {
	background-position:  10px -150px;
}

.block-service a em {
	display: block;
	font-style: normal;
	padding-top: 7px;
	font-weight: bold;
	letter-spacing: -.03em;
}


main {
	height: 497px;
	display: block;
}

section {
	padding-left: 10px; 
}

section h2 {
	font-size: 1.75em;
	color: #4e5a63;
	font-weight: normal;
	padding: 33px 0 24px;
	position: relative;
}

section h2 a {
	font-size: 13px;
	display: inline-block;
	color: #2e71c3;
	margin: 0 0 0 15px;
	position: absolute;
	top: 44px;
	left: 225px;
}

section h2 a:before {
	width: 18px;
	height: 18px;
	content: '';
	background: url(../img/icon_sprite.png);
	background-position: -6px 18px;
	display: block;
	float: left;
	margin-right: 7px;
}

main article {
	width: 31%;
	height: 325px;
	background: #f5f9fd;
	float: left;
	border-bottom: 4px solid #e2eef9;
}

main article:nth-child(3) {
	margin: 0 3%;
}

main article img {
	margin-bottom: 13px;
}

main article time,
main article p {
	width: 88%;
	font-size: .8125em;
	letter-spacing: -.01em;
	display: block;
}


main article time {
	margin: 0 auto 10px;
}

main article p {
	margin: 0 auto;
	height: 44px;
	overflow: hidden;
	padding: 0 3px 0 3px;
}

main article h3 {
	width: 88%;
	height: 35px;
	overflow: hidden;
	margin: 0 auto 13px;
	letter-spacing: -.01em;
	font-size: .9375em;
	color: #2e71c3;
}

main article h3 a {
	color: #2e71c3;
	text-decoration: none;
}

footer {
	width: 100%;
	height: 166px;
	background: #e3eff9;
	position: relative;
}

.rostelecom {
	width: 120px;
	height: 52px;
	display: block;
	background: url(../img/rostelecom.png);
	position: absolute;
	top: 30px;
	left: 10px;
}

.copy {
	width: 320px;
	position: absolute;
	bottom: 35px;
	left: 10px;
	font-size: .8125em;
}

.bottom-nav {
	width: 546px;
	float: right;
	margin: 25px 10px 0 0;
}

.bottom-nav li {
	margin-right: 4.6%;
	float: left;

}

.bottom-nav li a {
	font-size: .9375em;
	color: #2e71c3;

}

.bottom-nav li:last-child {
	margin-right: 0;
}

footer form {
	width: 545px;
	height: 50px;
	float: right;
	position: absolute;
	bottom: 40px;
	right: 10px;
	background: #d2e2f4;
	border-radius: 5px;
}

footer form p {
	float: left;
	font-size: .9375em;
	margin: 16px;
}

footer form input {
	height: 37px;
	font-size: .9375em;
	border-radius: 4px;
	letter-spacing: -.02em;
}

footer form input[type=text] {
	width: 241px;
	margin: 6px  6px 0 0;
	border: 2px solid #c5d7eb;
	color: #a2a4a7;
	padding: 0 10px;
	float: left;
}

footer form input[type=button] {
	width: 104px;
	margin: 6px 0 0 1px;
	color: #fff;
	border: 2px solid #91b6e1;
	background: #2e71c3;
	cursor: pointer;
	font-weight: bold;
}

footer .blue-line {
	position: absolute;
	bottom: 0;
}















