#logo {
	background: url(../img/retina/logo_retina.png);
	background-size: cover;
}

.logo a {
	background: url(../img/retina/icon_sprite_retina.png);
	background-size: 30px 226px;
	background-repeat: no-repeat;
	background-position: -9px 2px;
}

.log-in a {
	background: url(../img/retina/icon_sprite_retina.png);
	background-size: 30px 226px;
	background-repeat: no-repeat;
	background-position: -7px -22px;
}

.block-service a span {
	background:  url(../img/retina/icon_sprite_retina.png) no-repeat 9px -53px, -moz-linear-gradient(top,  rgba(112,158,214, 1) 0%, rgba(87,141,206, 1) 100%);
	background: url(../img/retina/icon_sprite_retina.png) no-repeat 9px -53px, -webkit-linear-gradient(top,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	background: url(../img/retina/icon_sprite_retina.png) no-repeat 9px -53px, -webkit-linear-gradient(top,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	background: url(../img/retina/icon_sprite_retina.png) no-repeat 9px -53px, -o-linear-gradient(top,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	background: url(../img/retina/icon_sprite_retina.png) no-repeat 9px -53px, -ms-linear-gradient(top,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	background: url(../img/retina/icon_sprite_retina.png) no-repeat 9px -53px, linear-gradient(to bottom,  rgba(112,158,214,1) 0%,rgba(87,141,206,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#709ed6', endColorstr='#578dce',GradientType=0 );
	background-size: 30px 226px;
}

section h2 a:before {
	background: url(../img/retina/icon_sprite_retina.png);
	background-size: 30px 226px;
	background-position: -6px 18px;
}

.rostelecom {
	background: url(../img/retina/rostelecom_retina.png);
	background-size: 120px 52px;
}