*{
		-webkit-transition: max-width .3s linear;     /*-- Safari, Chrome --*/
		-moz-transition:    max-width .3s linear;	    /*-- FireFox --*/
	    -ms-transition:     max-width .3s linear;	/*-- IE --*/
	    -o-transition:      max-width .3s linear;      /*-- Opera --*/ 
	    transition:         max-width .3s linear;          /*-- General --*/
}

@media screen and (max-width: 960px) {
	.container {
		max-width: 864px;
	}


}

@media screen and (max-width: 864px) {
	.container {
		max-width: 800px;
	}
	.main-text h2 {
    	width: 80%;
	}

	.introductory-text > p {
    	width: 62%;
	}

	.video > p {
	    width: 62%;
	    padding-bottom: 51px;
	}

	.video {
    	padding: 51px 0px;
	}


	.prev {
    	right: 40.5%;
	}

	.bottom-logo {
		background-size: 100% auto;
		width: 164px;
	}

}

@media screen and (max-width: 800px) {
	.container {
		max-width: 720px;
	}

	.ddmenu  {
		display: none;
	}

	.ddmenu a  {
		width: 100%;
	}
	.ddmenu ul,
	.min-menu ul,
	.sub-menu{
		top: 0px;
		left: -130px;
	}

	.gamburger {
		display: block;
	}

	.gamb-min-menu {
		top: 10px;
	}

	.responsive-top-menu {
		position: absolute;
		right: -15px;
		top: 75px;
		display: block;
	}

	.responsive-top-menu li {
		width: 200px;
		height: 40px;
		float: none;
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .4);
	}

	.responsive-top-menu li > a {
		line-height: 40px;
	}

	.responsive-min-menu {
		top: 45px;

		
	}

	.responsive-min-menu li {
		
	}

	.sidebar {
		display: none;
	}
	
	.content {
		float: none;
		width: 100%;
	}


}


@media screen and (max-width: 720px) {
	.container {
		max-width: 600px;
	}

	.main-text h1 {
		font-size: 290.75%;
	}

	.main-text h2 {
		width: 90%;
		font-size: 90%;
	}

	.introductory-text > p {
		width: 70%;
		font-size: 72%;
	}

	.introductory-text {
    	padding: 78px 0px 62px;
    }

    .passion-creativity-qality li:before {
    	left: -70px;
    }

    .passion-creativity-qality li > p {
	    font-size: 66%;
	}

	.video {
    	padding: 53px 0px;
    }

    .video > p {
    	width: 70%;
    	padding-bottom: 20px;
	}

	#carusel li {
    	max-width: 65.22%;
	}

	.next {
    	left: 36.22%;
	}

	.prev {
		right: 36.22%;
	}

	.carusel-dot {
	    width: 17%;
	    left: 44.2%;
	}

	.introductory-text {
    	padding: 65px 0px 62px;
	}

	.down-framework {
    	padding-bottom: 65px;
	}

	.bottom-logo {
		background-size: 100%;
		width: 145px;
	}

	.bottom-logo-text {
	    font-size: 60%;
    	width: 88%;
	}
	
	.main-who-we-are > li {
	    width: 15%;
    	margin-right: 2%;
	}

	.main-who-we-are h5 {
    	font-size: 73%;
	}

}

@media screen and (max-width: 700px) {
	.container {
		max-width: 600px;
	}
	.video-slideshow {
		width: 70%;
	}

}

@media screen and (max-width: 600px) {
	.container {
		max-width: 568px;
	}

	.main-text h1 {
    	font-size: 268.75%;
	}

	.main-text h2 {
    	width: 83%;
    	font-size: 79%;
	}

	.passion-creativity-qality {
	    margin-bottom: 50px;
	}

	.passion-creativity-qality li {
		float: none;
		width: 80%;
		margin: 0 0 30px 16%;
	}


}

@media screen and (max-width: 568px) {
	.container {
		max-width: 480px;
	}

	.main-text h1 {
    	font-size: 234.75%;
	}

	.video {
    	padding: 24px 0px;
	}

	.video > p {
    	padding-bottom: 0;
	}

	.next {
		bottom: 110px;
    	left: 34.22%;
	}

	.prev {
		bottom: 110px;
	}

	.carusel-dot {
    	left: 41.9%;
    	bottom: 115px;
	}

	.video-slideshow {
	    margin: 0 auto ;
	}

	.main-who-we-are > li {
    	width: 22%;
	}

	.main-who-we-are > li:nth-child(1) {
    	float: none;
    	width: 100%;
	}

	.main-who-we-are > li:nth-child(1) a {
		width: 100%;
		background-size: 60%;
	}

	.main-who-we-are > li:nth-child(1) p {
		padding-bottom: 10px;
	}

}

@media screen and (max-width: 480px) {
	.container {
		max-width: 420px;
	}
	.main-text h1 {
    	font-size: 202.75%;
	}

	.introductory-text h3 {
    	font-size: 177%;
	}

	.carusel-dot {
	    left: 40.9%;
	}

	.copy {
 	   width: 243px;
	}


}

@media screen and (max-width: 420px) {
	.container {
		max-width: 320px;
	}

	.logo {
		background-size: 190%;
		width: 250px;
		margin-left: 10px;
	}

	.gamburger {
		right: 20px;
	}

	.main-text h1 {
 	   font-size: 270.75%;
	}

	.mini-logo {
    	background-position: 3px -39px;
}

	.introductory-text h3 {
    	font-size: 218%;
	}

	.introductory-text > p {
    	width: 92%;
    	font-size: 77%;
	}

	.passion-creativity-qality li {
    	width: 70%;
    	margin: 0px 0px 30px 25%;
	}
	.video > p {
	    width: 92%;
	}

	.next {
	    left: 29.22%;
	}

	.prev {
    	right: 29.22%;
	}

	.carusel-dot {
	    width: 25%;
	}

	.carusel-dot {
    	left: 38.9%;
	}



	.main-who-we-are > li:nth-child(1) a {
    	width: 97%;
    	height: 30px;
    	background-size: 251px auto;
    	background-position: 0 0 ; 
    	margin-top: 10px;
	}

	.main-who-we-are > li {
    	width: 23%;
	}

	.main-who-we-are h5 {
    	font-size: 61%;
	}

	.who-we-are a {
	    font-size: 55%;
	}

	.main-who-we-are {
    	padding-bottom: 30px;
	}

	.footer {
	    padding: 38px 0px 0px;
	}

	.copy {
    	width: 100%;
    	float: none;
    	text-align: center;
	}

	.social {
		width: 42%;
    	float: none;
    	margin: 0 auto;
    	margin-top: -10px;
	}

	.social ul

	.bg-copy {
    	height: 125px;
	}






}
























