/* line 16, ../sass/skins/tomato.sass */
body {
  letter-spacing: 1px;
}

/* line 19, ../sass/skins/tomato.sass */
a {
  color: #FF6347;
}

/* line 22, ../sass/skins/tomato.sass */
p {
  color: #202020;
}

/* line 28, ../sass/skins/tomato.sass */
.nav_desktop li a,
.nav_phone_login li a {
  color: #FFF;
}
/* line 30, ../sass/skins/tomato.sass */
.nav_desktop li a:hover,
.nav_phone_login li a:hover {
  color: #FD6020;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 33, ../sass/skins/tomato.sass */
.nav_desktop li a.active,
.nav_phone_login li a.active {
  color: #FD6020;
  border-bottom: 2px solid #FD6020;
}
/* line 38, ../sass/skins/tomato.sass */
.nav_desktop li:nth-last-child(1) a:after,
.nav_phone_login li:nth-last-child(1) a:after {
  background: #FD6020 url(../../img/castle.svg) no-repeat;
  background-size: 55%;
  background-position: center center;
}

/* line 44, ../sass/skins/tomato.sass */
.nav_fixed .nav_desktop a {
  color: #202020;
}

/* line 46, ../sass/skins/tomato.sass */
.head_content {
  color: #FFF;
}
/* line 48, ../sass/skins/tomato.sass */
.head_content h2 {
  color: #F7F6F6;
}
/* line 50, ../sass/skins/tomato.sass */
.head_content a.how_much_is {
  border: 1px solid #FECF27;
  color: #FECF27;
}
/* line 53, ../sass/skins/tomato.sass */
.head_content a.how_much_is:hover {
  background: #FECF27;
  color: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 57, ../sass/skins/tomato.sass */
.head_content a.how_much_is:active {
  background: #FD6020;
  border: 1px solid #FD6020;
}

/* line 63, ../sass/skins/tomato.sass */
.invitation {
  border-top: 1px solid rgba(247, 246, 246, 0.3);
}
/* line 66, ../sass/skins/tomato.sass */
.invitation li h6 {
  color: #FD6020;
}
/* line 68, ../sass/skins/tomato.sass */
.invitation li p {
  color: #FFF;
}
/* line 72, ../sass/skins/tomato.sass */
.invitation li:nth-child(3) input[type='submit'] {
  color: #FFF;
  background: #FD6020;
}
/* line 75, ../sass/skins/tomato.sass */
.invitation li:nth-child(3) input[type='submit']:hover {
  background: #55413A;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 78, ../sass/skins/tomato.sass */
.invitation li:nth-child(3) input[type='submit']:active {
  background: #44342D;
}

/* line 80, ../sass/skins/tomato.sass */
.one_two_three {
  background: #F7F6F6;
}
/* line 84, ../sass/skins/tomato.sass */
.one_two_three li p {
  background: #F7F6F6;
}

/* line 86, ../sass/skins/tomato.sass */
.benefits {
  background: #F7F6F6;
}

/* line 90, ../sass/skins/tomato.sass */
.attachment h4, .attachment p {
  color: #FFF;
}

/* line 94, ../sass/skins/tomato.sass */
.sub_block_1 {
  color: #FFF;
}
/* line 98, ../sass/skins/tomato.sass */
.sub_block_1 li:nth-child(1) p {
  color: #FECF27;
}
/* line 100, ../sass/skins/tomato.sass */
.sub_block_1 li:nth-child(1) span {
  color: #FFF;
}
/* line 103, ../sass/skins/tomato.sass */
.sub_block_1 li:nth-child(2) h5 {
  color: #FFF;
}
/* line 105, ../sass/skins/tomato.sass */
.sub_block_1 li:nth-child(2) p {
  color: #FFF;
}
/* line 108, ../sass/skins/tomato.sass */
.sub_block_1 li:nth-child(3) p {
  color: #FFF;
}

/* line 114, ../sass/skins/tomato.sass */
.sub_block_2 li:nth-child(2) input[type='submit'] {
  color: #FFF;
  background: #FD6020;
}
/* line 117, ../sass/skins/tomato.sass */
.sub_block_2 li:nth-child(2) input[type='submit']:hover {
  background: #55413A;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 120, ../sass/skins/tomato.sass */
.sub_block_2 li:nth-child(2) input[type='submit']:active {
  background: #44342D;
}
/* line 122, ../sass/skins/tomato.sass */
.sub_block_2 li:nth-child(2) label {
  border: 1px solid #FD6020;
}
/* line 124, ../sass/skins/tomato.sass */
.sub_block_2 li:nth-child(2) p {
  color: #FFF;
}

/* line 128, ../sass/skins/tomato.sass */
.reviews_clients span {
  color: #717171;
}

/* line 131, ../sass/skins/tomato.sass */
.footer {
  background: #F7F6F6;
}
/* line 133, ../sass/skins/tomato.sass */
.footer a {
  color: #717171;
}
/* line 137, ../sass/skins/tomato.sass */
.footer .footer_item_3 li a {
  background: #FD6020;
  color: #FFF;
}
