@import url(normalize.css);


/*==================*/
.container {
	width: 1124px;
	margin: 0 auto;
}

.article-home img. {
	width: 200px;
}

.img-1 {
	float: left;
}
/*=======================================================================================*/

/*==================*/

/*=======================================================================================*/

/*==================*/

/*=======================================================================================*/

/*==================*/

/*=======================================================================================*/

/*==================*/

/*=======================================================================================*/

/*==================*/

/*=======================================================================================*/

/*==================*/

/*=======================================================================================*/

/*==================*/

/*=======================================================================================*/

/*==================*/

/*=======================================================================================*/
