
/*============
fonts
==============================================================*/
@import url(http://fonts.googleapis.com/css?family=Raleway:100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic);


/*============
reset, general-style
==============================================================*/

html, body
{
	padding: 0;
	margin: 0;
}
body
{
	background-color: rgba(241, 242, 247, 1);
	line-height: 22px;
	font-size: 14px;
	position: relative;
	/*-webkit-text-size-adjust: none;*/
	font-family: 'Raleway', Arial, sans-serif;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	margin: 0;
	padding: 0;

}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
h4
{
	text-transform: uppercase;
	font-size: 1.125em;
	color: rgba(48, 48, 56, 1);
	font-weight: 900;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	text-decoration: none;
}

li {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: padding-box;
	box-sizing: content-box;
	box-sizing: border-box;
}

.category {
	height: 62px;
	background: rgba(255, 255, 255, 1); 
	line-height: 62px;
	margin: 41px 0;
	text-align: center;
	text-transform: uppercase;
	color: rgba(168, 171, 179, 1);
	box-shadow: 0 3px 3px 1px rgba(168, 171, 179, .3);
}

.center-block {
	width: 715px;
	margin: 0 auto;
}

.clearfix:after {
	width: 0;
	height: 0;
	display: block;
	content: '';
	clear: both;
}




/*============
header
==============================================================*/


.header-line,
.content,
.footer {
	text-align: center;
}

.header-line.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: rgba(0, 197, 173, .9);
	z-index: 100;
}

.header-line a {
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	display: block;
	width: 40px;
	height: 40px;
	position: fixed;
	top: 0;
	left: 10px;
}


.header {
	height: 537px;
	background: rgba(25, 188, 156, 1) url(../images/sourceoflight.gif) ;
	background-size: cover;
	background-repeat: no-repeat;

}
.header:before {
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	background-color: rgba(25, 188, 156, .5);
}
.main_text {
	width: 475px;
	margin: -400px auto;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .9);
	text-align: center;

}

.main_text > h1 {
	font-size: 3.75em;
	border-bottom: 1px solid rgba(255, 255, 255, .9);
	padding: 0 0 23px 0;
	line-height: 53px;
	font-weight: normal;
	margin: 0 0 10px 0;
}

.main_text > h2 {
	border-top: 1px solid rgba(255, 255, 255, .9);
	padding: 23px 0 0 0;
	font-size: 2em;
	font-weight: normal;

}

.social {
	display: inline-block;
	margin: 60px auto;
} 

.social li {
	width: 40px;
	height: 40px;
	border: 1px solid rgba(255, 255, 255, .9);
	float: left;
	margin-right: 10px;
	border-radius: 50%;
}

.social > li > a{
	width: 40px;
	height: 40px;
	display: block;
	line-height: 40px;
	font-size: 1.5em;
	text-align: center;
	position: static;
	color: #fff;
}

h3.category:nth-child(2) {
	margin-top: 0;
}

/*============
about
==============================================================*/

.about-foto {
	width: 250px;
	height: 250px;
	border: 10px solid #fff;
	border-radius: 3px;
	background-color: rgba(25, 188, 156, 1);
	float: left; 
} 

.about-resume {
	width: 438px;
	height: 250px;
	background-color: #fff;
	float: right;
	border-radius: 3px;
	padding: 25px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
	position: relative;
}

.about-resume h4 {
	margin-bottom: 20px;
}

.anons-resume {
	color: rgba(250, 133, 100, 1);
}

.main-text-resume {
	height: 70px;
	max-height: 85px;
	overflow: hidden;
	color: rgba(141, 141, 141, 1);
}

.printable-resume {
	width: 134px;
	height: 27px;
	display: block;
	text-align: center;
	line-height: 27px;
	position: absolute;
	bottom: 25px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-size: .800em;
	border-radius: 3px;
	text-decoration: none;
	background-color: rgba(25, 188, 156, 1);
}
.printable-resume:hover {
	background-color: rgba(23, 160, 133, 1);
	-webkit-transition: all .3s linear;     /*-- Safari, Chrome --*/
	-moz-transition:    all .3s linear;	    /*-- FireFox --*/
    -ms-transition:      all .3s linear;	/*-- IE --*/
    -o-transition:     all .3s linear;      /*-- Opera --*/ 
    transition:    all .3s linear;          /*-- General --*/
}

/*============
capabilities
==============================================================*/

.scill-one,
.scill-two {
	width: 345px;
	height: 250px;
	background-color: #fff;
	padding: 25px;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: .9175em;
	color: rgba(134, 134, 134, 1);
	position: relative;

}

.scill-one {
	float: left;
}

.scill-one > ul:nth-child(2) {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 35px;
	margin-left: 20px;
}

.scill-one > ul:nth-child(2) li {
	position: relative;
}

.scill-one > ul:nth-child(2) li:before {
	width: 8px;
	height: 8px;
	display: block;
	content: '';
	background-color: rgba(205, 184, 237, 1);
	position: absolute;
	top: 7px;
	left: -15px;
}

.scill-one > ul:nth-child(2) > li:nth-child(2):before {
	background-color: rgba(255, 229, 147, 1);
}

.scill-one > ul:nth-child(2) > li:nth-child(3):before {
	background-color: rgba(185, 208, 154, 1);
}

.scill-one > ul:nth-child(2) > li:nth-child(4):before {
	background-color: rgba(178, 221, 247, 1);
}

#canvas,
#chart-area {
	position: absolute;
	right: 25px;
	bottom: 25px;
	/*outline: 1px solid #000;*/
}

#chart-area {
	left: 19px;
	bottom: 19px;
	/*outline: 1px solid #000;*/
}


.scill-two {
	float: right;
}

.scill-two ul {
	position: absolute;
	right: 25px;
	bottom: 25px;
}

.scill-two > ul:nth-child(3) li:before {
	width: 8px;
	height: 8px;
	display: block;
	content: '';
	background-color: rgba(205, 184, 237, 1);
	position: absolute;
	top: 7px;
	left: -15px;
	border-radius: 50%;
}

.scill-two > ul:nth-child(3) > li:nth-child(2):before {
	background-color: rgba(255, 229, 147, 1);
	top: 30px;
}
.scill-two > ul:nth-child(3) > li:nth-child(3):before {
	background-color: rgba(185, 208, 154, 1);
	top: 53px;
}
.scill-two > ul:nth-child(3) > li:nth-child(4):before {
	background-color: rgba(178, 221, 247, 1);
	top: 75px;
}

/*============
experiences
==============================================================*/

.experiences {
	height: 95px;
	background-color: #fff;
	margin-bottom: 22px;
	padding: 20px;
	font-size: .875em;
	line-height: 15px;
	color: rgba(141, 141, 141, 1);
	font-family: 'Open Sans', sans-serif;
}

.experiences li {
	float: left;
}

.experiences li:nth-child(3) {
	width: 350px;
	height: 70px;
	overflow: hidden;
	padding-left: 30px; 

}

.experiences li:nth-child(3) p {
	font-size: .875em;
}

.group-block {
	width: 205px;
	padding-right: 37px;
	text-align: right;
	line-height: 30px;
	margin-top: 10px;
}

.experiences li:nth-child(2) {
	width: 105px;
	height: 105px;
	border-radius: 50%;
	margin-top: -25px;
	border: 7px solid rgba(241, 242, 247, 1);

}

ul.experiences:nth-child(1) > li:nth-child(2) {
	background-color: rgba(239, 203, 88, 1);
}

ul.experiences:nth-child(2) > li:nth-child(2) {
	background-color: rgba(174, 199, 133, 1);
}

ul.experiences:nth-child(3) > li:nth-child(2) {
	background-color: rgba(192, 168, 234, 1);
}

.experiences li:nth-child(2) span {
	display: block;
	width: 50px;
	text-align: center;
	line-height: 10px;
	margin: 30px auto;
	text-transform: uppercase;
	color: #fff;
}

/*============
education
==============================================================*/

.education-block {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.education-block li {
	width: 223px;
	height: 203px;
	float: left;
	margin-right: 23px;
	background-color: rgba(255, 255, 255, 1);
}

.education-block > li:nth-child(3) {
	margin-right: 0;
} 

.education-item time {
	width: 63px;
	height: 63px;
	display: block;
	border-radius: 50%;
	margin: -25px auto 0px;
	padding-top: 10px;
	text-align: center;
	font-size: .875em;
	line-height: 10px;
	color: rgba(255, 255, 255, 1);
	border: 5px solid rgba(241, 242, 247, 1);
	background-color: rgba(185, 208, 154, 1);
}

.education-block > li:nth-child(2) > hgroup:nth-child(1) > time:nth-child(1) {
	background-color: rgba(205, 184, 237, 1);
}

.education-block > li:nth-child(3) > hgroup:nth-child(1) > time:nth-child(1) {
	background-color: rgba(255, 229, 147, 1);
}

.education-item h4 {
	text-align: center;
	line-height: 40px;
}

.education-item h5 {
	font-size: .875em;
	display: table;
	margin: 0 auto;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(134, 134, 134, .5);
	color: rgba(134, 134, 134, 1);
}

.education-item hgroup {

}

.education-item p {
	height: 80px;
	padding: 15px 15px;
	font-size: .675em;
	text-align: justify;
	line-height: 13px;
	overflow: hidden;
	color: rgba(134, 134, 134, 1);
}

/*============
category
==============================================================*/

.button-sort {
	width: 450px;
	margin: 0 auto 41px;
	font-family: 'Open Sans', sans-serif;
}

.button-sort li {
	float: left;
	padding: 0 10px;
	cursor: pointer;
	color: rgba(134, 134, 134, 1);
	text-transform: uppercase;
	background-color: #fff;
	margin-right: 1px;
	font-size: .775em;
}

.button-sort li:hover {
	color: rgba(31, 181, 172, 1);
}

.button-sort li:nth-child(1) {
	border-radius: 4px 0 0 4px;
}

.button-sort li:nth-last-child(1) {
	border-radius: 0 4px 4px 0;
}

li.active {
	background-color: rgba(31, 181, 172, 1);
	color: #fff;
}

.block-item {
	height: 385px;
	overflow: hidden;
}

.block-item li {
	width: 231px;
	height: 187px;
	margin: 0 1% 1% 0;
	float: left;
	background-color: rgba(217, 217, 217, 1);
	border-radius: 5px;
	border: 6px solid rgba(255, 255, 255, 1);

}

.block-item li:hover {
	background-color: rgba(31, 181, 172, 1);
	-webkit-transition: background-color .4s linear;     /*-- Safari, Chrome --*/
	-moz-transition:    background-color .4s linear;	    /*-- FireFox --*/
    -ms-transition:      background-color .4s linear;	/*-- IE --*/
    -o-transition:     background-color .4s linear;      /*-- Opera --*/ 
    transition:    background-color .4s linear;          /*-- General --*/
	cursor: pointer;
}

#container .mix{
	display: none;
}

/*============
clients
==============================================================*/

.clients-block-one,
.clients-block-two {
	height: 268px;
	background-color: #fff;
	padding: 23px;
	float: left;
	border-radius: 3px;
} 

.clients-block-one {
	width: 322px;
	height: 268px;
	font-family: 'Open Sans', sans-serif;
}


.sliderContent li {
	width: 100%;
	height: 220px;
	outline: 1px solid #000;
}



.clients-block-two {
	width: 364px;
	height: 268px;
	float: right;
}

.clients-block-two > ul > li {
	width: 154px;
	height: 107px;
	float: left;
	background-color: rgba(217, 217, 217, 1);
}

.clients-block-two > ul:nth-child(1) > li:nth-child(1),
.clients-block-two > ul:nth-child(1) > li:nth-child(3) {
	margin-right: 10px;
}

.clients-block-two > ul:nth-child(1) > li:nth-child(1),
.clients-block-two > ul:nth-child(1) > li:nth-child(2) {
	margin-bottom: 10px;
}


/*================================ Tiny Carousel ============================*/

#slider1 { 
	overflow: hidden;
  }

#slider1 .viewport { 
	float: left;
	margin: 0 auto;
	width: 90%;
	height: 215px;
	overflow: hidden;
	position: relative;

}

#slider1 .buttons {
    display: block;
    float: left;
    position: relative;
    color: #ccc;
    font-size: 22px;
    font-weight: 900;
}
.next {
    position: absolute;
    top: 40px;
    right: 30px;
}

.prev {
	position: absolute;
	top: 40px;
	left: 30px;
	z-index: 100;
}

#slider1 .buttons:hover {
    color: rgba(31, 181, 172, 1);
}

#slider1 .disable {
	visibility: hidden;
}

#slider1 .overview {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 90%;
	left: 0;
	top: 0;
}

#slider1 .overview li {
	float: left;
	margin: 0 0 0 0;
	height: 121px;
	width: 250px;
}

.overview li > a {
	width: 110px;
	height: 110px;
	display: block;
	background-color: rgba(31, 181, 172, 1);
	border-radius: 50%;
	border: 5px solid rgba(217, 217, 217, 1);
	margin: 0 auto 25px; 
}

.overview li > h4,
.overview li > h5 {
	text-align: center;
}

.overview li > h5 {
	color: rgba(134, 134, 134, 1);
	font-size: .875em;
	margin: 5px 0;
}

.overview li > p {
	line-height: 15px;
	font-size: .875em;
	padding: 0 5px;
	text-align: justify;
	overflow: hidden;
	color: rgba(134, 134, 134, 1);
}

/*==================
Blog
===========================================================================*/

.blog-left,
.blog-right {
	width: 48.25%;
	font-family: 'Open Sans', sans-serif;

}

.blog-left {
	float: left;
}

.blog-right {
	float: right;
}

.post {
	width: 100%;
	min-height: 200px;
	background-color: #fff; 
	margin-bottom: 20px;
	padding: 23px;
}

.post h4 {
	margin-bottom: 7px;
}

.post-photo {
	width: 100%;
	min-height: 150px;
	background-color: rgba(244, 245, 249, 1);
	margin-bottom: 20px;
}

.post-meta {
	height: 35px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(134, 134, 134, .7);
	margin-bottom: 15px;
}

.post-meta li {
	float: left;
	font-size: .775em;
	color: rgba(134, 134, 134, 1);
	margin-right: 20px;
}

.post p {
	font-size: .875em;
	color: rgba(134, 134, 134, 1);
}

.post a {
	color: rgba(31, 181, 172, 1);
	text-transform: uppercase;
	font-size: .8125em;
}

.post a:hover {
	color: rgba(232, 81, 66, 1);
}


/*==================
Contact
===========================================================================*/

.block-form,
.block-contact {
	min-height: 200px;
	background-color: #fff;
	margin-bottom: 40px;
	padding: 23px;
	font-family: 'Open Sans', sans-serif;
}


.block-form {
	width: 64.75%;
	float: left;

}
.block-form h4,
.block-contact h4 {
	margin-bottom: 23px;

}

.block-form input,
.block-form textarea {
	padding: 10px;
	border-radius: 3px;
	border: none;
	background-color: rgba(228, 228, 228, 1);
	font-style: italic; 
}

.block-form input:focus,
.block-form textarea:focus {
	border: 1px solid rgba(31, 181, 172, 1);
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}

.block-form input {
	width: 48.80%;
	height: 32px;
	float: left;
	margin: 0 7px 7px 0 ;

}

.block-form textarea {
	width: 100%;
	min-height: 85px;
	margin-bottom: 7px;
	font-size: .875em;
}

.block-form input:nth-child(2),
.block-form input:nth-child(4) {
	margin-right: 0;
}

.block-form input[type="submit"] {
	width: 75px;
	background-color: rgba(31, 181, 172, 1);
	color: #fff;
	font-style: normal;
	cursor: pointer;
}

.block-form input[type="submit"]:active {
	background-color: rgba(31, 178, 181, 1);
}

.block-contact {
	width: 31.32%;
	float: right;
}

.contact-detalies {
	color: rgba(134, 134, 134, 1);
	line-height: 30px;
	font-size: .775em;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(134, 134, 134, .7);

}

.mr{
	margin-right: 7px;
}

/*==================
Footer
===========================================================================*/
.footer {
	margin: 40px auto; 
}
.block-google-maps {
	width: 100%;
	min-height: 100px;
	padding: 70px 15px 15px 15px;
	background: rgba(255, 255, 255, 1);
	position: relative;
}

.block-google-maps h4 {
	margin-bottom: 15px;
}

.maps {
	width: 100%;
	min-height: 300px; 
}

.copy {
	margin: 15px 0;
	float: right;
	color: rgba(174, 178, 183, 1);
}

.maps-icon {
	display: block;
	width: 105px;
	background: rgba(131, 190, 223, 1);
	height: 105px;
	border-radius: 50%;
	margin-top: -25px;
	border: 7px solid #F1F2F7;
	position: absolute;
	left: 45%;
	top: -30px;

}

.maps-icon>.fa-map-o {
	font-size: 2.5em;
	line-height: 90px;
	color: #fff;
	margin: 0 auto; 
}







