@import "../bourbon/bourbon"

$color: #FF6347 //Theme skin
$colorwhite: #FFF //Белый
$colorBlack: #202020 //Черный
$colorOrang: #FD6020 //Оранжевый
$colorH2: #F7F6F6 //Бледно-белый
$colorYellow: #FECF27 //Желтый
$colorButtonHover: #55413A //Коричневый
$colorButtonActive: #44342D //Коричневый
$colorGray: #717171 //Серый

@mixin kerning($kerning)
	letter-spacing: $kerning + px

body
	+kerning(1)

a
	color: $color

p
	color: $colorBlack

.nav_desktop,
.nav_phone_login
	li
		a
			color: $colorwhite
			&:hover
				color: $colorOrang
				@include transition(all .25s ease-in-out)
			&.active
				color: $colorOrang
				border-bottom: 2px solid $colorOrang
		&:nth-last-child(1)
			a
				&:after
					background: $colorOrang url(../../img/castle.svg) no-repeat
					background-size: 55%
					background-position: center center
.nav_fixed
	.nav_desktop
		a
			color: $colorBlack
.head_content
	color: $colorwhite
	h2
		color: $colorH2
	a.how_much_is
		border: 1px solid $colorYellow
		color: $colorYellow
		&:hover
			background: $colorYellow
			color: $colorwhite
			@include transition(all .25s ease-in-out)
		&:active
			background: $colorOrang
			border: 1px solid $colorOrang
 


.invitation
	border-top: 1px solid transparentize($colorH2, .7)
	li
		h6
			color: $colorOrang
		p
			color: $colorwhite
		&:nth-child(3)
			input
				&[type='submit']
					color: $colorwhite
					background: $colorOrang
					&:hover
						background: $colorButtonHover
						@include transition(all .25s ease-in-out)
					&:active
						background: $colorButtonActive
.one_two_three
	background: $colorH2
	h2
	li
		p
			background: $colorH2
.benefits
	background: $colorH2

.attachment
	h4, p
		color: $colorwhite


.sub_block_1
	color: $colorwhite
	li
		&:nth-child(1)
			p
				color: $colorYellow
			span
				color: $colorwhite
		&:nth-child(2)
			h5
				color: $colorwhite
			p
				color: $colorwhite
		&:nth-child(3)
			p
				color: $colorwhite
.sub_block_2
	li
		&:nth-child(2)
			input
				&[type='submit']
					color: $colorwhite
					background: $colorOrang
					&:hover
						background: $colorButtonHover
						@include transition(all .25s ease-in-out)
					&:active
						background: $colorButtonActive
			label
				border: 1px solid $colorOrang
			p
				color: $colorwhite

.reviews_clients
	span
		color: $colorGray

.footer
	background: $colorH2
	a
		color: $colorGray
	.footer_item_3
		li
			a
				background: $colorOrang
				color: $colorwhite


