/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Users/lazuren/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/lazuren/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/lazuren/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/lazuren/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/lazuren/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/lazuren/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/lazuren/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/lazuren/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/lazuren/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*=====================
Fonts
========================================================================*/
@font-face {
  font-family: Pfdintextcondpro medium;
  src: url(../../fonts/pfdintextcondpro-medium.ttf);
}
@font-face {
  font-family: RUB;
  src: url(../../fonts/RUBSN.otf);
}
@font-face {
  font-family: MyriadProBold;
  src: url(../../fonts/MyriadProBold.ttf);
}
/*=====================
Varables
========================================================================*/
/*=====================
Main stylr
========================================================================*/
/* line 43, ../sass/dev-style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 53, ../sass/dev-style.scss */
a {
  text-decoration: none;
}

/* line 57, ../sass/dev-style.scss */
.clearfix:after {
  width: 0;
  height: 0;
  display: block;
  content: '';
  clear: both;
}

/*=====================
Header
========================================================================*/
/* line 70, ../sass/dev-style.scss */
.container {
  width: 998px;
  margin: 0 auto;
}

/* line 75, ../sass/dev-style.scss */
.header {
  background: url(../../img/bg_head.jpg) no-repeat;
  padding-top: 5px;
}
/* line 79, ../sass/dev-style.scss */
.header .logo {
  width: 860px;
  height: 160px;
  display: block;
  background: url("../../img/logo.svg") no-repeat;
  background-size: 102.6%;
  margin-left: 60px;
}
/* line 88, ../sass/dev-style.scss */
.header .advantages {
  margin: 42px 0 0 472px;
}
/* line 91, ../sass/dev-style.scss */
.header .advantages li {
  width: 134px;
  height: 48px;
  background-color: #58585a;
  float: left;
  color: #e8e8e8;
  margin-right: 3px;
  padding: 6px;
  font-family: "Pfdintextcondpro medium", Arial, sans-serif;
}
/* line 101, ../sass/dev-style.scss */
.header .advantages li h3 {
  font-size: 169%;
}
/* line 104, ../sass/dev-style.scss */
.header .advantages li h3 i {
  font-size: 82%;
}
/* line 108, ../sass/dev-style.scss */
.header .advantages li p {
  font-size: 86%;
  line-height: 10px;
  padding-bottom: 16px;
}
/* line 114, ../sass/dev-style.scss */
.header .advantages li span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 120%;
  letter-spacing: 3px;
  padding-left: 35px;
}
/* line 123, ../sass/dev-style.scss */
.header .advantages li:nth-child(1) span {
  padding-left: 0;
  margin-left: -6px;
}
/* line 129, ../sass/dev-style.scss */
.header .advantages li:nth-child(2) {
  width: 155px;
}
/* line 132, ../sass/dev-style.scss */
.header .advantages li:nth-child(2) span {
  padding-left: 7px;
}
/* line 135, ../sass/dev-style.scss */
.header .advantages li:nth-child(2) span:before {
  width: 4px;
  height: 3px;
  display: inline-block;
  content: '';
  background-color: #000;
  margin: 0 40px 4px 0;
}
/* line 146, ../sass/dev-style.scss */
.header .advantages li:nth-child(3) {
  width: 121px;
}
/* line 149, ../sass/dev-style.scss */
.header .advantages li:nth-child(3) span {
  padding-left: 0;
  margin-left: -3px;
}
/* line 153, ../sass/dev-style.scss */
.header .advantages li:nth-child(3) span:before {
  width: 4px;
  height: 3px;
  display: inline-block;
  content: '';
  background-color: #000;
  margin: 0 22px 4px 0;
}
/* line 167, ../sass/dev-style.scss */
.header .price-red {
  color: #fc2904;
  font-size: 448%;
  position: relative;
  letter-spacing: 0.3%;
  padding: 115px 0 0 547px;
  font-family: "Pfdintextcondpro medium", Arial, sans-serif;
  text-shadow: #fff 2px 0px, #fff 2px 2px, #fff 0px 2px, #fff -2px 2px, #fff -2px 0px, #fff -2px -2px, #fff 0px -2px, #fff 2px -2px, 0 4px 3px rgba(0, 0, 0, 0.7);
}
/* line 184, ../sass/dev-style.scss */
.header .price-red span {
  font-size: 33%;
  margin-right: -7px;
}
/* line 189, ../sass/dev-style.scss */
.header .price-red i {
  font-family: "RUB", Arial, sans-serif;
  margin-left: 4px;
}
/* line 194, ../sass/dev-style.scss */
.header .price-red:before {
  width: 230px;
  height: 60px;
  content: '';
  display: inline-block;
  position: absolute;
  top: 208px;
  right: 108px;
  background-image: url("../../img/unique-logo.png");
}
/* line 206, ../sass/dev-style.scss */
.header .config {
  margin: 120px 0 0 310px;
  font-family: "Tahoma";
  width: 100%;
}
/* line 210, ../sass/dev-style.scss */
.header .config li {
  float: left;
}
/* line 214, ../sass/dev-style.scss */
.header .config li:nth-child(1) a {
  width: 195px;
  height: 59px;
  display: block;
  border-radius: 7px;
  padding-top: 23px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 105%;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
  margin-right: 30px;
  background: #fdb922;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYjkyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYlIiBzdG9wLWNvbG9yPSIjZmY1NjBjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjYzExZDE3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMmEyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #fdb922 0%, #ff560c 6%, #c11d17 97%, #ff2a23 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdb922), color-stop(6%, #ff560c), color-stop(97%, #c11d17), color-stop(100%, #ff2a23));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdb922 0%, #ff560c 6%, #c11d17 97%, #ff2a23 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdb922 0%, #ff560c 6%, #c11d17 97%, #ff2a23 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdb922 0%, #ff560c 6%, #c11d17 97%, #ff2a23 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fdb922 0%, #ff560c 6%, #c11d17 97%, #ff2a23 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb922', endColorstr='#ff2a23',GradientType=0 );
  /* IE6-8 */
}
/* line 243, ../sass/dev-style.scss */
.header .config li:nth-child(2) {
  margin-top: 20px;
  color: #123e75;
}
/* line 246, ../sass/dev-style.scss */
.header .config li:nth-child(2) a {
  font-size: 115%;
  color: #123e75;
  border-bottom: 1px dotted #123e75;
}
/* line 251, ../sass/dev-style.scss */
.header .config li:nth-child(2) i {
  margin-right: 7px;
}
/* line 259, ../sass/dev-style.scss */
.header .unic-price {
  width: 600px;
  line-height: 19px;
  font-size: 81%;
  padding-left: 105px;
  font-family: "Arial", sans-serif;
  margin: 46px 0 45px 0;
  color: #555555;
}

/* line 271, ../sass/dev-style.scss */
.content {
  padding: 0 105px;
}
/* line 273, ../sass/dev-style.scss */
.content ul {
  min-height: 440px;
  overflow: hidden;
  margin-bottom: 37px;
}
/* line 277, ../sass/dev-style.scss */
.content ul li {
  float: left;
  width: 45%;
}
/* line 280, ../sass/dev-style.scss */
.content ul li h4 {
  height: 70px;
  border-left: 4px solid #123e75;
  font-size: 220%;
  font-family: "Pfdintextcondpro medium", Arial, sans-serif;
  color: #123e75;
  margin: 0 0 26px 1px;
  padding: 4px 0 0 5px;
}
/* line 288, ../sass/dev-style.scss */
.content ul li h4 i {
  font-family: "RUB", Arial, sans-serif;
}
/* line 291, ../sass/dev-style.scss */
.content ul li h4 span {
  padding-left: 4px;
  display: block;
  font-size: 40%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 299, ../sass/dev-style.scss */
.content ul li h5 {
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 111%;
  width: 90%;
  line-height: 22px;
  margin-bottom: 12px;
}
/* line 309, ../sass/dev-style.scss */
.content ul li p {
  font-family: "Arial", sans-serif;
  color: #555555;
  font-size: 80%;
  line-height: 20px;
}
/* line 318, ../sass/dev-style.scss */
.content ul li:nth-child(2) {
  float: right;
}
/* line 320, ../sass/dev-style.scss */
.content ul li:nth-child(2) h4 {
  padding-top: 12px;
}
/* line 327, ../sass/dev-style.scss */
.content .special-offer-title {
  color: #ff2906;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 188%;
}
/* line 333, ../sass/dev-style.scss */
.content .special-offer {
  padding-top: 27px;
  margin-bottom: 60px;
}
/* line 336, ../sass/dev-style.scss */
.content .special-offer li {
  padding: 30px;
  position: relative;
  border: 1px solid #dddddd;
  border-radius: 7px;
}
/* line 341, ../sass/dev-style.scss */
.content .special-offer li:hover {
  background: #013977;
}
/* line 343, ../sass/dev-style.scss */
.content .special-offer li:hover h2, .content .special-offer li:hover button, .content .special-offer li:hover i {
  color: #fff;
}
/* line 346, ../sass/dev-style.scss */
.content .special-offer li:hover button {
  border-bottom: 1px dotted #fff;
}
/* line 351, ../sass/dev-style.scss */
.content .special-offer li h2 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  line-height: 26px;
  color: #013977;
  font-size: 125%;
}
/* line 358, ../sass/dev-style.scss */
.content .special-offer li button {
  width: 70px;
  padding: 0;
  text-align: left;
  position: absolute;
  display: inline;
  left: 30px;
  bottom: 30px;
  font-family: "Arial", sans-serif;
  font-size: 80%;
  color: #123e75;
  background: transparent;
  border: none;
  border-bottom: 1px dotted #123e75;
  cursor: pointer;
}
/* line 375, ../sass/dev-style.scss */
.content .special-offer li i {
  position: absolute;
  right: 23px;
  bottom: 15px;
  font-family: "MyriadProBold", Arial, sans-serif;
  font-size: 370%;
  color: #dddddd;
}
/* line 383, ../sass/dev-style.scss */
.content .special-offer li:nth-child(1) {
  width: 390px;
  height: 203px;
  margin-bottom: 10px;
}
/* line 388, ../sass/dev-style.scss */
.content .special-offer li:nth-child(2) {
  width: 390px;
  height: 203px;
  margin-bottom: 10px;
}
/* line 393, ../sass/dev-style.scss */
.content .special-offer li:nth-child(3) {
  width: 256px;
  height: 204px;
  margin-right: 7px;
  padding: 20px 0 0 27px;
}
/* line 399, ../sass/dev-style.scss */
.content .special-offer li:nth-child(4) {
  width: 256px;
  height: 204px;
  margin-right: 7px;
  padding: 20px 0 0 27px;
}
/* line 405, ../sass/dev-style.scss */
.content .special-offer li:nth-child(5) {
  width: 256px;
  height: 204px;
  margin-right: 6px;
  padding: 25px 0 0 33px;
}

/* line 415, ../sass/dev-style.scss */
.footer {
  width: 790px;
  height: 60px;
  border-top: 1px solid #dddddd;
  margin: 0 auto;
  padding: 17px 0 0 5px;
}
/* line 421, ../sass/dev-style.scss */
.footer p {
  font-size: 62%;
  font-family: "Arial", sans-serif;
  color: #dddddd;
  line-height: 15px;
}
