@import url(reset.css);

/*===========================================================================
FONTS
*/
@font-face {
	font-family: "Eau";
	src: url(../fonts/eau_sans_book.otf),
		 url(../fonts/eau_sans_bold.otf);
} 

@font-face {
	font-family: 'fontello';
	src: url(../fonts/fontello/fontello.eot);
	src: url(../fonts/fontello/fontello.eot) format('embedded-opentype'),
		 url(../fonts/fontello/fontello.woff) format('woff'),
		 url(../fonts/fontello/fontello.ttf) format('truetype'),
		 url(../fonts/fontello/fontello.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}


/*===========================================================================
tags style
*/

html {
	height: 100%;
}

body {

	font: 1em "Eau", Arial, sans-serif;
}

/*===========================================================================
common styles
*/
.center-block {
	position: relative;
	margin: 0 auto;
	width: 940px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '.';
}

/*===========================================================================
HEADER STYLE
*/

header {
	position: relative;
	margin-bottom: 45px;
	background: url(../images/bg_header_cloud.png),
				url(../images/bg_header_1.jpg) #56cad7;
	background-position: bottom center, 0 0;
	background-repeat: repeat-x, repeat;
}

div.color-line {
	height: 5px;
	background: url(../images/line_color_top.jpg) repeat-x;
}

/*===========================================================================
cloud-1
*/

.cloud-1 ul {
	position: absolute;
	top: 10px;
	left: 130px;			/*Позиция облака*/
	overflow: hidden;
	width: 100px;
	height: 15px;
}

.cloud-1 li {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
}

li.cloud-1-item-1 {
	margin-top: 13px;
	width: 5px;
	height: 5px;
}

li.cloud-1-item-2 {
	margin: 12px 5px 0 -3px;
	width: 8px;
	height: 8px;
}

li.cloud-1-item-3 {
	margin: 10px 5px 0 -3px;
	width: 10px;
	height: 10px;
}

li.cloud-1-item-4 {
	margin: 4px 5px 0 -7px;
	width: 15px;
	height: 15px;
}

li.cloud-1-item-5 {
	margin: 3px 5px 0 -9px;
	width: 17px;
	height: 17px;
}
li.cloud-1-item-6 {
	margin: 0 5px 0 -10px;
}

/*===========================================================================
cloud-2
*/

.cloud-2 ul {
	position: absolute;
	top: 250px;
	left: -100px;			/*Позиция облака*/
	z-index: 2;
	overflow: hidden;
	width: 100px;
	height: 25px;

}

.cloud-2 li {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
}

li.cloud-2-item-1 {
	margin-top: 15px;
	width: 15px;
	height: 15px;
}

li.cloud-2-item-2 {
	margin: 11px 5px 0 -3px;
	width: 25px;
	height: 25px;
}

li.cloud-2-item-3 {
	margin: 5px 5px 0 -9px;
	width: 30px;
	height: 30px;
}

/*===========================================================================
cloud-3
*/

.cloud-3 ul {
	position: absolute;
	top: 390px;
	right: 25px;			/*Позиция облака*/
	overflow: hidden;
	width: 100px;
	height: 15px;
}

.cloud-3 li {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
}

li.cloud-3-item-1 {
	margin-top: 7px;
	width: 15px;
	height: 15px;
}

li.cloud-3-item-2 {
	margin: 3px 5px 0 -3px;
	width: 25px;
	height: 25px;
}

li.cloud-3-item-3 {
	margin: 0 5px 0 -9px;
	width: 30px;
	height: 30px;
}

li.cloud-3-item-4 {
	margin: 10px 5px 0 -3px;
	width: 15px;
	height: 15px;
}

/*===========================================================================
cloud-4
*/

.cloud-4 ul {
	position: absolute;
	top: 280px;
	right: 250px;			/*Позиция облака*/
	overflow: hidden;
	width: 100px;
	height: 25px;
}

.cloud-4 li {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
}

li.cloud-4-item-1 {
	margin-top: 15px;
	width: 15px;
	height: 15px;
}

li.cloud-4-item-2 {
	margin: 11px 5px 0 -3px;
	width: 25px;
	height: 25px;
}

li.cloud-4-item-3 {
	margin: 5px 5px 0 -9px;
	width: 30px;
	height: 30px;
}

/*===========================================================================
clou-5
*/

.cloud-5 ul {
	position: absolute;
	top: 110px;
	left: 270px;			/*Позиция облака*/
	overflow: hidden;
	width: 100px;
	height: 15px;
}

.cloud-5 li {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
}

li.cloud-5-item-1 {
	margin-top: 13px;
	width: 5px;
	height: 5px;
}

li.cloud-5-item-2 {
	margin: 12px 5px 0 -3px;
	width: 8px;
	height: 8px;
}

li.cloud-5-item-3 {
	margin: 10px 5px 0 -3px;
	width: 10px;
	height: 10px;
}

li.cloud-5-item-4 {
	margin: 4px 5px 0 -7px;
	width: 15px;
	height: 15px;
}

li.cloud-5-item-5 {
	margin: 3px 5px 0 -9px;
	width: 17px;
	height: 17px;
}
li.cloud-5-item-6 {
	margin: 0 5px 0 -10px;
}

/*===========================================================================
cloud-6
*/

.cloud-6 ul {
	position: absolute;
	top: 50px;
	right: 40px;			/*Позиция облака*/
	overflow: hidden;
	width: 100px;
	height: 15px;
}

.cloud-6 li {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
}

li.cloud-6-item-1 {
	margin-top: 9px;
	width: 15px;
	height: 15px;
}

li.cloud-6-item-2 {
	margin: 0 5px 0 -2px;
	width: 30px;
	height: 30px;
}

li.cloud-6-item-3 {
	margin: 3px 5px 0 -13px;
	width: 30px;
	height: 30px;
}

li.cloud-6-item-4 {
	margin: 6px 5px 0 -10px;
	width: 15px;
	height: 15px;
}

li.cloud-6-item-5 {
	margin: -9px 5px 0 -2px;
	width: 20px;
	height: 20px;
}

/*===========================================================================
headr conent
*/

.header-logo,
.header-phone,
.header-video {
	float: left;
	margin: 9px 10px 0 0;
	width: 303px;
	height: 540px;


}

.header-logo {
	padding-right: 6px;
	text-align: right;
}

.logo {
	display: block;
	margin: 30px 0 15px 40px;
	width: 258px;
	height: 79px;
	background: url(../images/logo.png);
	cursor: pointer;
}

.header-logo h2,
.header-logo h3 {
	margin-bottom: 5px;
	color: #2f7e86;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	font-size: 22px;
}

.header-logo h2 {
	font-weight: normal;
}

.header-logo h3 {
	margin-bottom: 18px;
	font-weight: bold;
}

.header-logo p {
	overflow: hidden;
	margin-bottom: 25px;
	max-height: 120px;
	color: #ffffff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .5);

}

.header-logo p em {
	font-weight: bold;
	font-style: normal;
}

.header-logo input[type=text],
.footer-block-2 input[type=text] {
	padding: 0 15px;
	width: 170px;
	height: 46px;
	border: 1px solid #4daab3;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3) inset;
	color: #5c6162;
	font-size: 11px;
}

.header-logo input[type=submit],
.footer-block-2 input[type=submit] {
	float: right;
	margin-left: 5px;
	padding: 11px 0 11px;
	width: 115px;
	border: 1px solid #4daab3;
	border-radius: 4px;
	background: #ffe0a7; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe0a7 0%, #f9cf81 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe0a7), color-stop(100%,#f9cf81)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe0a7 0%,#f9cf81 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe0a7 0%,#f9cf81 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe0a7 0%,#f9cf81 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffe0a7 0%,#f9cf81 100%); /* W3C */
	box-shadow: 0 1px 0 rgb(255, 255, 255) inset,
				0 -1px 3px rgba(0, 0, 0, .3) inset,
				0 1px 3px rgba(0, 0, 0, .3);
	color: #484848;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
	font-weight: bold;
	font-size: 16px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe0a7', endColorstr='#f9cf81',GradientType=0 ); /* IE6-8 */
	cursor: pointer;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTBhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWNmODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.header-phone {
	position: relative;
	z-index: 5;
}

.iphone {
	margin: 0 auto;
	width: 289px;
	height: 588px;
	background: url(../images/iphone.png);
}

.iphone:before {
	position: absolute;
	top: 281px;
	left: 170px;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .8);
	content: "";
}

.iphone:after {
	position: absolute;
	top: 163px;
	left: 258px;
	display: block;
	width: 2px;
	height: 163px;
	background: rgba(255, 255, 255, .8);
	content: "";
	-webkit-transform: 	rotate(60deg);
	-moz-transform: 	rotate(60deg);
	-ms-transform: 		rotate(60deg);
	-o-transform: 		rotate(60deg);
	transform: 			rotate(60deg);
}

#video {
	visibility: hidden;
	width: 0;
	height: 0;
}

.white-circle {
	display: block;
	margin: 58px 0 70px 5px;
	padding: 45px 40px;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .7);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
	cursor: pointer;
}

.white-circle:hover {
	background: rgba(255, 255, 255, .9);
	box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
	-webkit-transition: 	all .7s ease;
	-moz-transition: 		all .7s ease;
	-ms-transition: 		all .7s ease;
	-o-transition: 			all .7s ease;
	transition: 			all .7s ease;
}

.white-circle i,
.white-circle em,
.white-circle span {
	display: inline-block;
	width: 105px;
	color: #484848;
	text-align: center;
	font-style: normal;
}

.white-circle i {
	margin-bottom: 10px;
	font-size: 37px;
}

.white-circle em {
	margin-bottom: 8px;
}

.header-video iframe {
	visibility: hidden;
	margin: 0;
	width: 0;
	height: 0;
	background: rgba(161, 255, 151, .5);
}

.white-circle span {
	font-size: 18px;
}

.social-button li { 
	float: left;
	margin-right: 10px;
	width: 46px;
	height: 46px;
	border: 1px solid rgba(55, 135, 144, .5);
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(204, 239, 243, .5) inset,
				0 -1px 2px rgba(0, 0, 0, .2) inset,
				0 2px 3px rgba(0, 0, 0, .3);
}

.social-button a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.social-button li:nth-child(1) {
	margin-left: 5px;
	border-right: none;
	border-radius: 5px 0 0 5px;
	background: #90dcef; /* Old browsers */
	background: -moz-linear-gradient(top,  #90dcef 0%, #5ed0db 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90dcef), color-stop(100%,#5ed0db)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #90dcef 0%,#5ed0db 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #90dcef 0%,#5ed0db 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #90dcef 0%,#5ed0db 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #90dcef 0%,#5ed0db 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90dcef', endColorstr='#5ed0db',GradientType=0 ); /* IE6-8 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwZGNlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZWQwZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.social-button li:nth-child(1) a {
	background: url(../images/sprite.png) rgba(255, 255, 255, .0);
	background-position: 14px 8px;
	background-repeat: no-repeat;
}

.social-button li:nth-child(2) {
	margin-left: -10px;
	width: 125px;
	border-radius: 0 5px 5px 0;
	background: #99eafe; /* Old browsers */
	background: -moz-linear-gradient(top,  #99eafe 0%, #65ddea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99eafe), color-stop(100%,#65ddea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #99eafe 0%,#65ddea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #99eafe 0%,#65ddea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #99eafe 0%,#65ddea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #99eafe 0%,#65ddea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99eafe', endColorstr='#65ddea',GradientType=0 ); /* IE6-8 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5ZWFmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NWRkZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.social-button li:nth-child(2) a {
	color: #484848;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	line-height: 46px;
}

.social-button li:nth-child(2) a:hover {
	border-radius: 5px 0 0 5px;
	background: rgba(255, 255, 255, .1);
	background-position: 14px 6px;
	background-repeat: no-repeat;

	-webkit-transition: 	all .5s ease;
	-moz-transition: 		all .5s ease;
	-ms-transition: 		all .5s ease;
	-o-transition: 			all .5s ease;
	transition: 			all .5s ease;
}

.social-button li:nth-child(3) {
	background: #5977b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #5977b5 0%, #4564a6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5977b5), color-stop(100%,#4564a6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5977b5 0%,#4564a6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5977b5 0%,#4564a6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5977b5 0%,#4564a6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5977b5 0%,#4564a6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5977b5', endColorstr='#4564a6',GradientType=0 ); /* IE6-8 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NzdiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTY0YTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.social-button li:nth-child(3) a {
	background-image: url(../images/sprite.png);
	background-position: 14px -37px;
	background-repeat: no-repeat;
}

.social-button li:nth-child(3) a:hover {
	border-radius: 5px 0 0 5px;
	background: url(../images/sprite.png), rgba(255, 255, 255, .1);
	background-position: 14px -37px;
	background-repeat: no-repeat;

	-webkit-transition: 	all .5s ease;
	-moz-transition: 		all .5s ease;
	-ms-transition: 		all .5s ease;
	-o-transition: 			all .5s ease;
	transition: 			all .5s ease;
}

.social-button li:nth-child(4) {
	margin-right: 0;
background: #00cffd; /* Old browsers */
background: -moz-linear-gradient(top,  #00cffd 0%, #00b0ef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00cffd), color-stop(100%,#00b0ef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00cffd 0%,#00b0ef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00cffd 0%,#00b0ef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00cffd 0%,#00b0ef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00cffd 0%,#00b0ef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cffd', endColorstr='#00b0ef',GradientType=0 ); /* IE6-8 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwY2ZmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGIwZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.social-button li:nth-child(4) a {
	background-image: url(../images/sprite.png);
	background-position: 15px -76px;
	background-repeat: no-repeat;
}

.social-button li:nth-child(4) a:hover {
	border-radius: 5px 0 0 5px;
	background: url(../images/sprite.png), rgba(255, 255, 255, .1);
	background-position: 15px -76px;
	background-repeat: no-repeat;

	-webkit-transition: 	all .5s ease;
	-moz-transition: 		all .5s ease;
	-ms-transition: 		all .5s ease;
	-o-transition: 			all .5s ease;
	transition: 			all .5s ease;
}

.cloud-white {
	position: absolute;
	bottom: -45px;
	z-index: 5;
	width: 100%;
	height: 138px;
	background: url(../images/bg_header_white.png);
}

/*===========================================================================
MAIN STYLE
*/

main {
	display: block;

	background: #f2f2f2;
}

main h2 {
	width: 220px;
	color: #455567;
	font-weight: normal;
	font-size: 24px;
}

main p {
	width: 220px;
	color: #919aa4;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
}

/*===========================================================================
service
*/

.wrapp-service {
	min-height: 395px;
	border-top: 1px solid rgba(228, 228, 228, .3);
	border-bottom: 1px solid #e4e4e4;
	background: #fff;
}

.service h2 {
	margin: 0 auto 28px;
	text-align: center;
}

.service p {
	overflow: hidden;
	margin: 0 auto 28px;
	max-height: 120px;
	text-align: center;
	line-height: 20px;
}

.service-1,
.service-2,
.service-3 {
	float: left;
	margin-right: 10px;
	width: 303px;
}

.service-1 a:nth-child(1),
.service-2 a:nth-child(1),
.service-3 a:nth-child(1) {
	display: block;
	margin: 5px auto 28px;
	width: 138px;
	height: 138px;
	border-radius: 50%;
	background: #ccc;
	background: url(../images/sprite_sevice.png);
	background-repeat: no-repeat;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset;
}

.service-1 a:nth-child(1):hover,
.service-2 a:nth-child(1):hover,
.service-3 a:nth-child(1):hover {
	box-shadow: 0 0 50px rgba(0, 0, 0, .2) inset;

	-webkit-transition:		all .3s ease-in;
	-moz-transition:		all .3s ease-in;
	-ms-transition:			all .3s ease-in;
	-o-transition:			all .3s ease-in;
	transition:				all .3s ease-in;

	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.service-1 a:nth-child(1) {
	background-color: #deebee;
	background-position: 39px 38px;
}

.service-2 a:nth-child(1) {
	background-color: #feeac9;
	background-position: 39px -75px;
}

.service-3 a:nth-child(1) {
	background-color: #f9e0e0;
	background-position: 39px -200px;
}

/*===========================================================================
ability style
*/

.ability-template h2 {
	overflow: hidden;
	max-height: 48px;
}

.ability-template p {
	overflow: hidden;
	max-height: 92px;
}

.block-1,
.block-2,
.block-3 {
	float: left;
	margin-right: 10px;
	width: 303px;
	height: 400px;
}

.block-1 {
	padding: 84px 40px 0 0;
}

.block-2 {
	height: 533px;
	background: url(../images/white_iphone.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.block-3 {
	margin-right: 0;
	padding: 37px 0 0 35px;

}

.block-1 h2,
.block-1 p {
	float: right;
	margin-bottom: 20px;
	text-align: right;

}

.block-3 h2,
.block-3 p {
	float: left;
	margin-bottom: 20px;
	text-align: left;
}

.arrows {
	position: absolute;
	top: 50px;
	left: 260px;
	width: 398px;
	height: 353px;
}

.arrows img {
	max-width: 398px;
}

/*===========================================================================
FOOTER
*/

footer {
	margin-top: -40px;
	padding-top: 75px;
	width: 100%;
	height: 270px;
	background: url(../images/bg_header_1.jpg) #56cad7;
}

.footer-cloud-1 ul {
	top: 130px;
	left: 450px;
}

.footer-cloud-2 ul {
	top: 60px;
	left: -150px;
}

.footer-cloud-3 ul {
	top: 10px;
	right: 130px;
}

.footer-block-1,
.footer-block-2,
.footer-block-3 {
	float: left;
	margin-right: 20px;
	width: 300px;
}

.footer-block-1 {
	height: 193px;
	background: url(../images/footer_logo.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
}

.center-block:after {
	display: block;
	visibility: hidden;
	clear: both;
	width: 0;
	height: 0;
	content: '';
}

.footer-block-1 h3 {
	padding-bottom: 20px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	font-size: 24px;
}

.footer-block-1 h3:before {
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	height: 21px;
	background: url(../images/sprite_sevice.png);
	background-position: -15px -339px;
	content: '';
}

.footer-block-1 p {
	color: #f2f2f2;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	font-size: 16px;
	line-height: 30px;
}
.footer-block-1 p > a {
	color: #32848c;
	text-decoration: none;
}

.footer-block-2 {
	width: 295px;
}

.footer-block-2 .social-button {
	visibility: hidden;
	width: 0;
	height: 0;
}
.footer-block-2 .social-button li:nth-child(3),
.footer-block-2 .social-button li:nth-child(4) {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.footer-block-2,
.footer-block-3 {
	padding: 50px 0 0 0px;
}

.footer-block-3 {
	margin-right: 0;
}

.copy {
	width: 100%;
	height: 50px;
	background: #484848;
}

.copy p,
.copy a {
	height: 100%;
	color: #a7a7a7;
	font-size: 12px;
	line-height: 50px;
}

.copy a {
	float: right;
	text-decoration: none;
}

/*=========================================================================== 
jQuery ligt box
*/

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */

#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}

#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	text-align: center;
	line-height: 0;
}

#jquery-lightbox a img {
	border: none;
}

#lightbox-container-image-box {
	position: relative;
	margin: 0 auto;
	width: 760px;
	height: 0;
	background-color: #fff;
}

#lightbox-container-image {
	padding: 10px;
}

#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	height: 25%;
	text-align: center;
	line-height: 0;
}

#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

#lightbox-container-image-box > #lightbox-nav {
	left: 0;
}

#lightbox-nav a {
	outline: none;
}

#lightbox-nav-btnPrev,
#lightbox-nav-btnNext {
	display: block;
	width: 49%;
	height: 100%;
	zoom: 1;
}

#lightbox-nav-btnPrev {
	left: 0;
	float: left;
}

#lightbox-nav-btnNext {
	right: 0;
	float: right;
}

#lightbox-container-image-data-box {
	overflow: auto;
	margin: 0 auto;
	padding: 0 10px 0;
	width: 100%;
	background-color: #fff;
	font: 10px Verdana, Helvetica, sans-serif;
	line-height: 1.4em;
}

#lightbox-container-image-data {
	padding: 0 10px;
	color: #666;
}

#lightbox-container-image-data #lightbox-image-details {
	float: left;
	width: 70%;
	text-align: left;
}

#lightbox-image-details-caption {
	font-weight: bold;
}

#lightbox-image-details-currentNumber {
	display: block;
	clear: left;
	padding-bottom: 1.0em;	
}

#lightbox-secNav-btnClose {
	float: right;
	padding-bottom: 0.7em;
	width: 66px;
}