* {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

/*===========================================================================
media queries DISPLAY < 940PX
*/

@media screen and (max-width: 940px){

.center-block {
	width: 800px;
}

.header-logo,
.header-phone,
.header-video {
	margin-right: 3px;
	width: 250px;
}

.logo {
	margin: 20px 0 15px 0;
}

.header-logo input[type=text],
.footer-block-2 input[type=text] {
		width: 120px;
		height: 45px;
}

.header-logo input[type=submit],
.footer-block-2 input[type=submit] {
	width: 100px;
}

.header-phone {
	margin: 90px 0 0 0;
	width: 280px;
}

.header-video iframe {
	visibility: hidden;
	margin: 0;
	width: 0;
	height: 0;

	-webkit-transition: all .0s;
	-moz-transition: all .0s;
	-ms-transition: all .0s;
	-o-transition: all .0s;
	transition: all .0s;
}

.iphone:after {
	top: 136px;
	left: 266px;
	height: 192px;

	-webkit-transform: 	rotate(57deg);
	-moz-transform: 	rotate(57deg);
	-ms-transform: 		rotate(57deg);
	-o-transform: 		rotate(57deg);
	transform: 			rotate(57deg);

}

.white-circle {
	margin: 105px 0 35px 40px;
	padding: 30px 30px;
	width: 160px;
	height: 160px;
}

.social-button li {
	float: none;
}

.social-button li:nth-child(1) {
	float: left;
	margin-left: 38px;

}

.social-button li:nth-child(2) {
	margin: 0 0 15px 84px;
}

.social-button li:nth-child(3) {
	float: left;
	margin-left: 71px;
}

.social-button li:nth-child(4) {
	margin-left: 130px;
}

.service-1, .service-2, .service-3 {
	width: 253px;
}

.block-1, .block-3 {
	width: 240px;
}

.block-2 {
	width: 265px;
}

.arrows {
	top: 75px;
	left: 200px;
}

.arrows img {
	width: 360px;
}

.footer-block-1,
.footer-block-2, 
.footer-block-3 {
	width: 250px;
}

.footer-block-2 input[type="submit"] {
	margin-right: 20px;
}

.footer-cloud-2 ul {
	top: 123px;
	left: 377px;
}

.cloud-1 ul {
	top: 10px;
	left: 200px;
}

.cloud-2 ul {
	top: 150px;
	left: -10px;
}

footer .cloud-2 ul {
	top: 150px;
	left: 300px;
}


.cloud-3 ul {
	top: 133px;
	right: -30px;
}

.cloud-4 ul {
	top: 295px;
	right: 100px;
}

.cloud-6 ul {
	right: 300px;
}


} /*=== AND MEDIA QUERIST DISPLAY < 940PX ===*/


/*===========================================================================
===== DISPLAY < 880PX ====== 
*/

@media screen and (max-width: 880px){

.center-block {
	width: 720px;
}

.header-logo {
	width: 300px;
}

.logo {
	margin: 30px 0 15px 40px;
}

.header-logo input[type=text] {
	width: 170px;
	height: 46px;
}

.header-phone {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	-webkit-transition: all .0s;
	-moz-transition: all .0s;
	-ms-transition: all .0s;
	-o-transition: all .0s;
	transition: all .0s;

}

.header-video {
	width: 400px;
}

.header-video iframe {
	visibility: visible;
	margin: 30px 0 25px 20px;
	width: 390px;
	height: 270px;
}

.white-circle {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.social-button li {
	float: left;
}

.social-button li:nth-child(1) {
	margin-left: 55px;
}

.social-button li:nth-child(2) {
	margin: 0 0 0 -10px;
}

.social-button li:nth-child(3) {
	float: left;
	margin-left: 10px;
}

.social-button li:nth-child(4) {
	margin: 0;
}

.cloud-3 ul {
	top: 100px;
	right: 25px;
}

.cloud-4 ul {
	top: 390px;
	right: 250px;
}

.cloud-6 ul {
	top: 315px;
	right: 50px;
}

.service-1, .service-2, .service-3 {
	width: 230px;
}

.block-1, .block-3 {
	float: left;
	padding: 0;
	width: 350px;
}

.block-1 h2, .block-1 p {
	float: none;
	margin-bottom: 20px;
	text-align: left;
}

main p {
	width: 100%;
}

.block-2, .arrows,
.block-2, .arrows img {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.ability-template {
	padding-top: 15px;
	max-height: 400px;
}

.footer-block-1, .footer-block-2, .footer-block-3 {
	margin-right: 3px;
	width: 230px;
}

.footer-block-3 {
	margin-right: 0;
}

.footer-block-2 input[type=text] {
	width: 120px;
}

.footer-block-2 input[type="submit"] {
	margin-right: 0;
}

.footer-block-3 .social-button li:nth-child(1) {
	margin-left: 30px;
}

.footer-block-3 .social-button li:nth-child(3) {
	margin: 15px 0 0 60px;
}

.footer-block-3 .social-button li:nth-child(4) {
	margin: 15px 0 0 15px;
}

.cloud-3 ul {
	top: 20px;
	right: 25px;
}

}/*=== AND MEDIA QUERIST DISPLAY < 880PX ===*/

/*===========================================================================
=== DISPLAY < 800PX ===
*/

@media screen and (max-width: 800px){

.center-block {
	width: 640px;
}

.header-logo {
	width: 250px;
}

.logo {
	margin: 20px 0 15px 0;
}

.header-logo input[type=text] {
	width: 120px;
	height: 45px;
}

.header-logo input[type=submit] {
	width: 100px;
}

.header-video {
	width: 370px;
}

.header-video iframe {
	visibility: visible;
	margin: 30px 0 25px 20px;
	width: 370px;
	height: 260px;
}

.cloud-4 ul {
	top: 380px;
}

.cloud-5 ul {
	top: 105px;
	left: 200px;
}

.cloud-6 ul {
	top: 310px;
	right: 50px;
}

.service-1, .service-2, .service-3 {
	width: 200px;
}

.service-3 {
	margin-right: 0;
}

.service-1 a:nth-child(1), .service-2 a:nth-child(1), .service-3 a:nth-child(1) {
	width: 130px;
	height: 130px;
}

.service-1 a:nth-child(1) {
	background-position: 35px 34px;
}

.service-2 a:nth-child(1) {
	background-position: 35px -75px;
}

.service-3 a:nth-child(1) {
	background-position: 35px -201px;
}

.ability-template h2{
	height: 42px;
}

main h2 {
	padding: 0 5px;
	font-size: 20px;
}

.block-1, .block-3 {
	width: 310px;
}

.footer-block-1, .footer-block-2, .footer-block-3 {
	margin-right: 3px;
	width: 210px;
}

.footer-block-2 input[type="text"] {
	padding: 0 11px;
	width: 115px;
}

.footer-block-2 input[type="submit"] {
	padding: 12px 0;
	width: 90px;
	font-size: 14px;
}

.footer-cloud-1 ul {
	top: 20px;
}

.footer-block-1 p {
	line-height: 25px;
}

} /*=== AND MEDIA QUERIST DISPLAY < 800PX ===*/

/*===========================================================================
=== DISPLAY < 720PX ===
*/

@media screen and (max-width: 720px){

header {
	padding-bottom: 80px;
}
.center-block {
	width: 540px;
}
.header-logo, .header-video {
	float: none;
	margin: 40px auto 0;
	width: 540px;
	height: auto;
	text-align: left;
}

.header-logo form {
	width: 280px;
}

.header-logo input[type="text"] {
	width: 170px;
}

.cloud-1 ul {
	top: 20px;
}
.cloud-2 ul,
.cloud-2 ul li {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.cloud-4 ul {
	top: 230px;
}

.cloud-5 ul {
	top: 120px;
}

.cloud-1 ul {
	top: -10px;
}

.cloud-6 ul {
	top: 300px;
}

.header-video {
	margin: 0;

}

.header-video iframe {
	margin: 10px 0;
	width: 540px;
	height: 290px;
}

header .social-button {
	margin: 0 auto;
	width: 285px;
}

.social-button li:nth-child(1) {
	margin-left: 0;
}

.service-1,
.service-2,
.service-3 {
	float: none;
	overflow: hidden;
	margin-right: 0;
	margin-bottom: 20px;
	width: 540px;
	height: 135px;
}

.service h2,
.service p {
	margin-bottom: 5px;
	text-align: left;
}

.service h2 {
	padding-top: 15px;
}

.service p {
	width: 335px;
}

.service-1 a:nth-child(1),
.service-2 a:nth-child(1),
.service-3 a:nth-child(1) {
	float: left;
	margin-bottom: 0;
	text-align: left;
}

.block-1, .block-3 {
	width: 260px;
}

.footer-block-1 {
	width: 200px;
}

.footer-block-2 {
	width: 285px;
}

.footer-block-3 {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.footer-block-2 .social-button {
	visibility: visible;
	width: 285px;
	height: 0;
}

.footer-block-2 .social-button li:nth-child(3),
.footer-block-2 .social-button li:nth-child(4) {
	visibility: visible;
	margin-left: 10px;
	width: 46px;
	height: 46px;
}

.footer-block-2 form {
	margin-bottom: 20px;
	width: 285px;
}

.footer-block-2 input[type="text"] {
	width: 180px;
}

.footer-block-2 .social-button li:nth-child(1) {
	margin-left: 0px;
}

.footer-block-3 .social-button li:nth-child(1),
.footer-block-3 .social-button li:nth-child(2),
.footer-block-3 .social-button li:nth-child(3),
.footer-block-3 .social-button li:nth-child(4) {
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;

}

}/*=== AND MEDIA QUERIST DISPLAY < 720PX ===*/

/*===========================================================================
=== DISPLAY < 540PX ===
*/

@media screen and (max-width: 540px){

.center-block {
	width: 480px;
}

.header-logo, .header-video {
	width: 480px;
}


.header-video iframe {
	width: 480px;
}

.block-1, .block-3 {
	width: 230px;
}

.service-1,
.service-2,
.service-3 {
	width: 480px;
}

.footer-block-1 {
	width: 190px;
}

.footer-block-1 h3 {
	font-size: 23px;
}

.footer-block-2 {
	width: 250px;
}
.footer-block-1 p {
	font-size: 15px;
	line-height: 23px;
}

.footer-block-2 form {
	width: 254px;
}

.footer-block-2 input[type="text"] {
	padding: 0 9px;
	width: 155px;
}

.footer-block-2 input[type="submit"] {
	margin-right: 3px;
}

.footer-block-2 .social-button li:nth-child(2) {
	width: 105px;
}

.footer-block-2 .social-button li:nth-child(3),
.footer-block-2 .social-button li:nth-child(4) {
	margin-left: 3px;
}

} /*=== AND MEDIA QUERIST DISPLAY < 540PX ===*/

/*===========================================================================
=== DISPLAY < 470PX ===
*/

@media screen and (max-width: 470px) {

.center-block {
	width: 320px;
}

.cloud-3 ul {
	top: 75px;
	right: 150px;
}

.cloud-4 ul {
	top: 210px;
	right: 210px;
}

.cloud-5 ul {
	left: 200px;
}

.cloud-6 ul {
	top: 255px;
}

.header-logo {
	padding: 0 10px;
}

.header-logo, .header-video {
	width: 320px;
}

.header-video iframe {
	width: 320px;
	height: 250px;
}

.block-1, .block-3 {
	width: 160px;
}

.service-1,
.service-2,
.service-3 {
	width: 320px;
	height: 300px;
}

.service p {
	padding: 0 10px;
}

.service-1 a:nth-child(1),
.service-2 a:nth-child(1),
.service-3 a:nth-child(1) {
	float: none;
}

.block-1,
.block-3 {
	float: none;
	padding: 0 10px;
	width: 320px;
}


.ability-template {
	max-height: 780px;
}

footer {
	position: relative;
	margin-top: 0;
	padding-top: 10px;
	height: 370px;
}

footer:after {
	display: block;
	visibility: hidden;
	height: 0;
	content: '.';
}

.footer-block-1,
.footer-block-2 {
	float: none;
	width: 320px;
}

.footer-block-1 {
	padding: 0 10px;
	height: 150px;
}

.footer-block-1 p,
.footer-block-1 h3 {
	text-align: center;
}

.footer-block-2 form {
	margin: 0 auto 20px;
	width: 260px;
}

.footer-block-2 .social-button {
	margin: 0 auto;
	width: 255px;
}

.footer-block-2,
.footer-block-3 {
	padding: 0;
}

.footer-block-2 .social-button li:nth-child(2) {
	width: 110px;
}

footer .cloud-1 ul {
	top: 30px;
	left: 50px;
}

footer .cloud-3 ul {
	top: 125px;
	right: 50px;
}

.iphone:after {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.copy {
	position: absolute;
	bottom: 0;
}

} /*=== AND MEDIA QUERIST DISPLAY < 470PX ===*/


/*===========================================================================
media queries device < 940PX
*/

@media screen and (max-device-width: 940px){

.center-block {
	width: 800px;
}

.header-logo,
.header-phone,
.header-video {
	margin-right: 3px;
	width: 250px;
}

.logo {
	margin: 20px 0 15px 0;
}

.header-logo input[type=text],
.footer-block-2 input[type=text] {
		width: 120px;
		height: 45px;
}

.header-logo input[type=submit],
.footer-block-2 input[type=submit] {
	width: 100px;
}

.header-phone {
	margin: 90px 0 0 0;
	width: 280px;
}

.header-video iframe {
	visibility: hidden;
	margin: 0;
	width: 0;
	height: 0;

	-webkit-transition: all .0s;
	-moz-transition: all .0s;
	-ms-transition: all .0s;
	-o-transition: all .0s;
	transition: all .0s;
}

.iphone:after {
	top: 136px;
	left: 266px;
	height: 192px;

	-webkit-transform: 	rotate(57deg);
	-moz-transform: 	rotate(57deg);
	-ms-transform: 		rotate(57deg);
	-o-transform: 		rotate(57deg);
	transform: 			rotate(57deg);

}

.white-circle {
	margin: 105px 0 35px 40px;
	padding: 30px 30px;
	width: 160px;
	height: 160px;
}

.social-button li {
	float: none;
}

.social-button li:nth-child(1) {
	float: left;
	margin-left: 38px;

}

.social-button li:nth-child(2) {
	margin: 0 0 15px 84px;
}

.social-button li:nth-child(3) {
	float: left;
	margin-left: 71px;
}

.social-button li:nth-child(4) {
	margin-left: 130px;
}

.service-1, .service-2, .service-3 {
	width: 253px;
}

.block-1, .block-3 {
	width: 240px;
}

.block-2 {
	width: 265px;
}

.arrows {
	top: 75px;
	left: 200px;
}

.arrows img {
	width: 360px;
}

.footer-block-1,
.footer-block-2, 
.footer-block-3 {
	width: 250px;
}

.footer-block-2 input[type="submit"] {
	margin-right: 20px;
}

.footer-cloud-2 ul {
	top: 123px;
	left: 377px;
}

.cloud-1 ul {
	top: 10px;
	left: 200px;
}

.cloud-2 ul {
	top: 150px;
	left: -10px;
}

footer .cloud-2 ul {
	top: 150px;
	left: 300px;
}


.cloud-3 ul {
	top: 133px;
	right: -30px;
}

.cloud-4 ul {
	top: 295px;
	right: 100px;
}

.cloud-6 ul {
	right: 300px;
}


} /*=== AND MEDIA QUERIST DISPLAY < 940PX ===*/


/*===========================================================================
===== DISPLAY < 880PX ====== 
*/

@media screen and (max-device-width: 880px){

.center-block {
	width: 720px;
}

.header-logo {
	width: 300px;
}

.logo {
	margin: 30px 0 15px 40px;
}

.header-logo input[type=text] {
	width: 170px;
	height: 46px;
}

.header-phone {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	-webkit-transition: all .0s;
	-moz-transition: all .0s;
	-ms-transition: all .0s;
	-o-transition: all .0s;
	transition: all .0s;

}

.header-video {
	width: 400px;
}

.header-video iframe {
	visibility: visible;
	margin: 30px 0 25px 20px;
	width: 390px;
	height: 270px;
}

.white-circle {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.social-button li {
	float: left;
}

.social-button li:nth-child(1) {
	margin-left: 55px;
}

.social-button li:nth-child(2) {
	margin: 0 0 0 -10px;
}

.social-button li:nth-child(3) {
	float: left;
	margin-left: 10px;
}

.social-button li:nth-child(4) {
	margin: 0;
}

.cloud-3 ul {
	top: 100px;
	right: 25px;
}

.cloud-4 ul {
	top: 390px;
	right: 250px;
}

.cloud-6 ul {
	top: 315px;
	right: 50px;
}

.service-1, .service-2, .service-3 {
	width: 230px;
}

.block-1, .block-3 {
	float: left;
	padding: 0;
	width: 350px;
}

.block-1 h2, .block-1 p {
	float: none;
	margin-bottom: 20px;
	text-align: left;
}

main p {
	width: 100%;
}

.block-2, .arrows,
.block-2, .arrows img {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.ability-template {
	padding-top: 15px;
	max-height: 400px;
}

.footer-block-1, .footer-block-2, .footer-block-3 {
	margin-right: 3px;
	width: 230px;
}

.footer-block-3 {
	margin-right: 0;
}

.footer-block-2 input[type=text] {
	width: 120px;
}

.footer-block-2 input[type="submit"] {
	margin-right: 0;
}

.footer-block-3 .social-button li:nth-child(1) {
	margin-left: 30px;
}

.footer-block-3 .social-button li:nth-child(3) {
	margin: 15px 0 0 60px;
}

.footer-block-3 .social-button li:nth-child(4) {
	margin: 15px 0 0 15px;
}

.cloud-3 ul {
	top: 20px;
	right: 25px;
}

}/*=== AND MEDIA QUERIST DISPLAY < 880PX ===*/

/*===========================================================================
=== DISPLAY < 800PX ===
*/

@media screen and (max-device-width: 800px){

.center-block {
	width: 640px;
}

.header-logo {
	width: 250px;
}

.logo {
	margin: 20px 0 15px 0;
}

.header-logo input[type=text] {
	width: 120px;
	height: 45px;
}

.header-logo input[type=submit] {
	width: 100px;
}

.header-video {
	width: 370px;
}

.header-video iframe {
	visibility: visible;
	margin: 30px 0 25px 20px;
	width: 370px;
	height: 260px;
}

.cloud-4 ul {
	top: 380px;
}

.cloud-5 ul {
	top: 105px;
	left: 200px;
}

.cloud-6 ul {
	top: 310px;
	right: 50px;
}

.service-1, .service-2, .service-3 {
	width: 200px;
}

.service-3 {
	margin-right: 0;
}

.service-1 a:nth-child(1), .service-2 a:nth-child(1), .service-3 a:nth-child(1) {
	width: 130px;
	height: 130px;
}

.service-1 a:nth-child(1) {
	background-position: 35px 34px;
}

.service-2 a:nth-child(1) {
	background-position: 35px -75px;
}

.service-3 a:nth-child(1) {
	background-position: 35px -201px;
}

.ability-template h2{
	height: 42px;
}

main h2 {
	padding: 0 5px;
	font-size: 20px;
}

.block-1, .block-3 {
	width: 310px;
}

.footer-block-1, .footer-block-2, .footer-block-3 {
	margin-right: 3px;
	width: 210px;
}

.footer-block-2 input[type="text"] {
	padding: 0 11px;
	width: 115px;
}

.footer-block-2 input[type="submit"] {
	padding: 12px 0;
	width: 90px;
	font-size: 14px;
}

.footer-cloud-1 ul {
	top: 20px;
}

.footer-block-1 p {
	line-height: 25px;
}

} /*=== AND MEDIA QUERIST DISPLAY < 800PX ===*/

/*===========================================================================
=== DISPLAY < 720PX ===
*/

@media screen and (max-device-width: 720px){

header {
	padding-bottom: 80px;
}
.center-block {
	width: 540px;
}
.header-logo, .header-video {
	float: none;
	margin: 40px auto 0;
	width: 540px;
	height: auto;
	text-align: left;
}

.header-logo form {
	width: 280px;
}

.header-logo input[type="text"] {
	width: 170px;
}

.cloud-1 ul {
	top: 20px;
}
.cloud-2 ul,
.cloud-2 ul li {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.cloud-4 ul {
	top: 230px;
}

.cloud-5 ul {
	top: 120px;
}

.cloud-1 ul {
	top: -10px;
}

.cloud-6 ul {
	top: 300px;
}

.header-video {
	margin: 0;

}

.header-video iframe {
	margin: 10px 0;
	width: 540px;
	height: 290px;
}

header .social-button {
	margin: 0 auto;
	width: 285px;
}

.social-button li:nth-child(1) {
	margin-left: 0;
}

.service-1,
.service-2,
.service-3 {
	float: none;
	overflow: hidden;
	margin-right: 0;
	margin-bottom: 20px;
	width: 540px;
	height: 135px;
}

.service h2,
.service p {
	margin-bottom: 5px;
	text-align: left;
}

.service h2 {
	padding-top: 15px;
}

.service p {
	width: 335px;
}

.service-1 a:nth-child(1),
.service-2 a:nth-child(1),
.service-3 a:nth-child(1) {
	float: left;
	margin-bottom: 0;
	text-align: left;
}

.block-1, .block-3 {
	width: 260px;
}

.footer-block-1 {
	width: 200px;
}

.footer-block-2 {
	width: 285px;
}

.footer-block-3 {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.footer-block-2 .social-button {
	visibility: visible;
	width: 285px;
	height: 0;
}

.footer-block-2 .social-button li:nth-child(3),
.footer-block-2 .social-button li:nth-child(4) {
	visibility: visible;
	margin-left: 10px;
	width: 46px;
	height: 46px;
}

.footer-block-2 form {
	margin-bottom: 20px;
	width: 285px;
}

.footer-block-2 input[type="text"] {
	width: 180px;
}

.footer-block-2 .social-button li:nth-child(1) {
	margin-left: 0px;
}

.footer-block-3 .social-button li:nth-child(1),
.footer-block-3 .social-button li:nth-child(2),
.footer-block-3 .social-button li:nth-child(3),
.footer-block-3 .social-button li:nth-child(4) {
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;

}

}/*=== AND MEDIA QUERIST DISPLAY < 720PX ===*/

/*===========================================================================
=== DISPLAY < 540PX ===
*/

@media screen and (max-device-width: 540px){

.center-block {
	width: 480px;
}

.header-logo, .header-video {
	width: 480px;
}


.header-video iframe {
	width: 480px;
}

.block-1, .block-3 {
	width: 230px;
}

.service-1,
.service-2,
.service-3 {
	width: 480px;
}

.footer-block-1 {
	width: 190px;
}

.footer-block-1 h3 {
	font-size: 23px;
}

.footer-block-2 {
	width: 250px;
}
.footer-block-1 p {
	font-size: 15px;
	line-height: 23px;
}

.footer-block-2 form {
	width: 254px;
}

.footer-block-2 input[type="text"] {
	padding: 0 9px;
	width: 155px;
}

.footer-block-2 input[type="submit"] {
	margin-right: 3px;
}

.footer-block-2 .social-button li:nth-child(2) {
	width: 105px;
}

.footer-block-2 .social-button li:nth-child(3),
.footer-block-2 .social-button li:nth-child(4) {
	margin-left: 3px;
}

} /*=== AND MEDIA QUERIST DISPLAY < 540PX ===*/

/*===========================================================================
=== DISPLAY < 470PX ===
*/

@media screen and (max-device-width: 470px) {

.center-block {
	width: 320px;
}

.cloud-3 ul {
	top: 75px;
	right: 150px;
}

.cloud-4 ul {
	top: 210px;
	right: 210px;
}

.cloud-5 ul {
	left: 200px;
}

.cloud-6 ul {
	top: 255px;
}

.header-logo {
	padding: 0 10px;
}

.header-logo, .header-video {
	width: 320px;
}

.header-video iframe {
	width: 320px;
	height: 250px;
}

.block-1, .block-3 {
	width: 160px;
}

.service-1,
.service-2,
.service-3 {
	width: 320px;
	height: 300px;
}

.service p {
	padding: 0 10px;
}

.service-1 a:nth-child(1),
.service-2 a:nth-child(1),
.service-3 a:nth-child(1) {
	float: none;
}

.block-1,
.block-3 {
	float: none;
	padding: 0 10px;
	width: 320px;
}


.ability-template {
	max-height: 780px;
}

footer {
	position: relative;
	margin-top: 0;
	padding-top: 10px;
	height: 370px;
}

footer:after {
	display: block;
	visibility: hidden;
	height: 0;
	content: '.';
}

.footer-block-1,
.footer-block-2 {
	float: none;
	width: 320px;
}

.footer-block-1 {
	padding: 0 10px;
	height: 150px;
}

.footer-block-1 p,
.footer-block-1 h3 {
	text-align: center;
}

.footer-block-2 form {
	margin: 0 auto 20px;
	width: 260px;
}

.footer-block-2 .social-button {
	margin: 0 auto;
	width: 255px;
}

.footer-block-2,
.footer-block-3 {
	padding: 0;
}

.footer-block-2 .social-button li:nth-child(2) {
	width: 110px;
}

footer .cloud-1 ul {
	top: 30px;
	left: 50px;
}

footer .cloud-3 ul {
	top: 125px;
	right: 50px;
}

.iphone:after {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.copy {
	position: absolute;
	bottom: 0;
}

} /*=== AND MEDIA QUERIST DISPLAY < 470PX ===*/