@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayBold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayLight";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
}
@font-face {
  font-family: "RalewaySemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayExtrabold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewayExtrabold/RalewayExtrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayExtrabold/RalewayExtrabold.woff") format("woff"), url("../fonts/RalewayExtrabold/RalewayExtrabold.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayBlack";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"), url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
}
@font-face {
  font-family: "PtsSansCaptionRegular";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/PtsSansCaptionRegular/PtsSansCaptionRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PtsSansCaptionRegular/PtsSansCaptionRegular.woff") format("woff"), url("../fonts/PtsSansCaptionRegular/PtsSansCaptionRegular.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayMedium";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
}
